extends @pug/base

append globals
	- pageName = 'poem'
	- title = '«Пока заря в душе восходит…»'
	- description = 'Любовь не только возвышает – Любовь порой нас разрушает, Ломает судьбы и сердца…'
	- image = `${data.general.baseDir}assets/images/poem/39.jpg`

append vars

block content
	+router(pageName)
		include @components/header/header
		+poem(data1.poem39)
