extends @pug/base

append globals
	- pageName = 'poem'
	- title = '«Неважно, кто старше из нас…»'
	- description = 'Неважно, кто старше из нас, Кто моложе.'
	- image = `${data.general.baseDir}assets/images/poem/58.jpg`

append vars

block content
	+router(pageName)
		include @components/header/header
		+poem(data1.poem58)
