extends @pug/base

append globals
	- pageName = 'poem'
	- title = '«Одна единственная»'
	- description = 'Если бы я не любил Россию И не был так предан ей'
	- image = `${data.general.baseDir}assets/images/poem/4.jpg`

append vars

block content
	+router(pageName)
		include @components/header/header
		+poem(data1.poem4)
