extends @pug/base

append globals
	- pageName = 'poem'
	- title = '«Отец.»'
	- description = 'Отец мой сдаёт. И тревожная старость Уже начинает справлять торжество.'
	- image = `${data.general.baseDir}assets/images/poem/51.jpg`

append vars

block content
	+router(pageName)
		include @components/header/header
		+poem(data1.poem51)
