extends @pug/base

append globals
	- pageName = 'poem'
	- title = '«Не ссорьтесь, влюбленные.»'
	- description = 'Не ссорьтесь, влюбленные. Жизнь коротка.'
	- image = `${data.general.baseDir}assets/images/poem/21.jpg`

append vars

block content
	+router(pageName)
		include @components/header/header
		+poem(data1.poem21)
