.reasoning {
	&__container {
		position: relative;
		display: flex;
		flex-direction: row;
		overflow-y: hidden !important;
		height: 90vh;
		gap: 4vw;

		.left-side {
			display: flex;
			flex-direction: row;
			overflow-y: hidden !important;
			height: 90vh;

			.img {
				width: 29.438vw;
				height: auto;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}

				@include devices {
					width: 100%;
					height: vc(200);
					object-position: center top;
				}
			}

			.links-container {
				display: flex;
				flex-direction: column;

				.drop-down {
					z-index: 100;
					display: none;

					@include devices {
						position: absolute;
						right: 2vw;
						top: vc(18);
						display: block;
						margin-left: auto;
						width: vc(14);
						height: vc(10);
					}
				}

				.links {
					position: relative;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					padding: 3.813vw 2.875vw 2vw 2vw;
					height: 90vh;
					background-color: $color-blue;

					@include devices {
						padding-top: 0;
						padding-bottom: 0;
						height: auto;
						font-size: vc(15);
						gap: 0;

						a {
							position: relative;
							padding-top: vc(10);
							padding-bottom: vc(10);
							color: $color-white;

							&::after {
								content: '';
								position: absolute;
								left: -2vw;
								bottom: 0;
								flex-grow: 1;
								border-bottom: 1px solid $color-white;
								width: 100vw;
							}

							@include devices {
								display: block;

								br {
									display: none;
								}
							}
						}
					}

					/* stylelint-disable-next-line order/order */
					svg {
						// width: 9.267vw;
						// height: auto;
						width: vc(180);
						height: vc(80);
						min-height: vc(80);

						@include devices {
							display: none;
						}
					}
				}

				@include devices {
					position: relative;
					overflow: hidden;
					height: vc(44);
				}
			}

			@include devices {
				flex-direction: column;
				overflow: hidden;
				height: auto;
			}
		}

		.right-side {
			display: flex;
			flex-direction: column;
			overflow: scroll;
			padding-top: 3.75vw;

			// overflow-x: hidden;
			width: 39.563vw;
			height: 100vh;

			&::-webkit-scrollbar {
				width: 1px;
			}

			&::-webkit-scrollbar-thumb {
				background: $color-rodeo-dust-2;
			}

			.title {
				padding-bottom: 5vw;

				@include devices {
					padding-bottom: 8vw;
				}
			}

			.paragraph {
				padding-bottom: 2.438vw;
				width: 100%;

				@include devices {
					padding-bottom: 6.667vw;
					width: 100%;
				}
			}

			.line {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				margin: 2.75vw 0;
				gap: 2vw;

				hr {
					flex-grow: 1;
					margin: 0 10px;
					border: none;
					border-top: 1px solid $color-blue;
				}

				svg {
					width: 1.625vw;
					height: 1.5vw;

					@include devices {
						width: 5.304vw;
						height: 4.8vw;
					}
				}

				@include devices {
					margin: 7.75vw 0;
				}

				@include devices {
					margin: 7.75vw 0;
				}
			}

			@include devices {
				padding: 0 2.667vw;
				width: 100%;
				height: 100%;
			}
		}

		.arrow-bottom {
			svg {
				position: absolute;
				right: 3vw;
				bottom: 0;
				padding: 0;
				width: 0.625vw;
				height: 9.063vw;

				&:hover {
					cursor: pointer;
				}
			}

			@include devices {
				display: none;
			}
		}

		@include devices {
			position: relative;
			flex-direction: column;

			// height: 90vh;
			height: auto;
		}
	}
}

.active-reasoning {
	font-weight: 700;
	color: $color-rodeo-dust-2;

	@include devices {
		order: -1;
		font-weight: 700;
		color: $color-white;
	}
}
