+b.HEADER.header(data-aos="fade" data-aos-delay="2000")
	.container
		+e.A.logo.--rbc#rbc-logo(href="#" target="_blank")
			+svg('logo-rbc')
		+e.logo.--client
			span.for-desktop совместный проект
			a#client-logo(href="#" target="_blank")
				+svg('logo-client')
