extends @pug/base

append globals
	- pageName = 'reasoning'
	- title = '“Все начинается с любви”'
	- description = '&nbsp;'
	- image = `${data.general.baseDir}assets/images/reasoning/share.jpg`

append vars

block content
	+router(pageName)
		include @components/header/header
		+reasoning(
			data23.reasonings.about_small_homeland.left_side.image,
			data23.reasonings.about_small_homeland.right_side.title,
			data23.reasonings.about_small_homeland.right_side.text1,
			data23.reasonings.about_small_homeland.right_side.text2,
			data23.reasonings.about_small_homeland.right_side.text3,
			data23.reasonings.about_small_homeland.right_side.text4,
			data23.reasonings.about_small_homeland.right_side.text5,
			data23.reasonings.about_small_homeland.right_side.text6,
			data23.reasonings.about_small_homeland.right_side.text7,
			data23.reasonings.about_small_homeland.right_side.text8,
			data23.reasonings.about_small_homeland.right_side.text8,
			data23.reasonings.about_small_homeland.right_side.text9,
			data23.reasonings.about_small_homeland.right_side.text10,
			data23.reasonings.about_small_homeland.right_side.text11,
			data23.reasonings.about_small_homeland.right_side.text12,
			data23.reasonings.about_small_homeland.right_side.text13,
			data23.reasonings.about_small_homeland.right_side.text14,
		)
