extends @pug/base

append globals
	- pageName = 'poem'
	- title = '«Я к этой жизни непричастен…»'
	- description = 'Я к этой жизни непричастен. В ней правит бал одно жулье.'
	- image = `${data.general.baseDir}assets/images/poem/62.jpg`

append vars

block content
	+router(pageName)
		include @components/header/header
		+poem(data1.poem62)
