extends @pug/base

append globals
	- pageName = 'poem'
	- title = '«Любовь»'
	- description = 'Как солнечный луч среди радуг… Вслед за тобою я к радуге мчусь.'
	- image = `${data.general.baseDir}assets/images/poem/40.jpg`

append vars

block content
	+router(pageName)
		include @components/header/header
		+poem(data1.poem40)
