extends @pug/base

append globals
	- pageName = 'poem'
	- title = '«Все должно когда-нибудь кончаться…»'
	- description = 'Все должно когда-нибудь кончаться. Жизнь верна законам бытия.'
	- image = `${data.general.baseDir}assets/images/poem/74.jpg`

append vars

block content
	+router(pageName)
		include @components/header/header
		+poem(data1.poem74)
