extends @pug/base

append globals
	- pageName = 'poem'
	- title = '«Великое время…»'
	- description = 'Великое время. Ничтожные дни.'
	- image = `${data.general.baseDir}assets/images/poem/60.jpg`

append vars

block content
	+router(pageName)
		include @components/header/header
		+poem(data1.poem60)
