extends @pug/base

append globals
	- pageName = 'poem'
	- title = '«Я с женщинами спорить не могу…»'
	- description = 'Я с женщинами спорить не могу. Не потому, Что все переиначат.'
	- image = `${data.general.baseDir}assets/images/poem/20.jpg`

append vars

block content
	+router(pageName)
		include @components/header/header
		+poem(data1.poem20)
