extends @pug/base

append globals
	- pageName = 'poem'
	- title = '«Что же ты, сын, наделал?..»'
	- description = 'Что же ты, сын, наделал Что же ты натворил?'
	- image = `${data.general.baseDir}assets/images/poem/53.jpg`

append vars

block content
	+router(pageName)
		include @components/header/header
		+poem(data1.poem53)
