include mixins/picture
include mixins/svg
include @components/mixins/sharing/sharing
include @components/router/router
include @components/mixins/poem/poem
include @components/mixins/biography/biographyCard
include @components/mixins/reasoning/reasoning
