extends @pug/base

append globals
	- pageName = 'poem'
	- title = '«У нас в России власть не любят…»'
	- description = 'У нас в России власть не любят. Быть может, не за что любить.'
	- image = `${data.general.baseDir}assets/images/poem/61.jpg`

append vars

block content
	+router(pageName)
		include @components/header/header
		+poem(data1.poem61)
