extends @pug/base

append globals
	- pageName = 'poem'
	- title = '«Я думаю сердцем…»'
	- description = 'Я думаю сердцем И радуюсь сердцем.'
	- image = `${data.general.baseDir}assets/images/poem/7.jpg`

append vars

block content
	+router(pageName)
		include @components/header/header
		+poem(data1.poem7)
