extends @pug/base

append globals
	- pageName = 'poem'
	- title = '«Левитановская осень…»'
	- description = 'Левитановская осень. Золотые берега.'
	- image = `${data.general.baseDir}assets/images/poem/24.jpg`

append vars

block content
	+router(pageName)
		include @components/header/header
		+poem(data1.poem24)
