extends @pug/base

append globals
	- pageName = 'poem'
	- title = '«Памяти мамы.»'
	- description = 'Повидаться лишний раз Было некогда. Я теперь спешить горазд, Только некуда.'
	- image = `${data.general.baseDir}assets/images/poem/50.jpg`

append vars

block content
	+router(pageName)
		include @components/header/header
		+poem(data1.poem50)
