extends @pug/base

append globals
	- pageName = 'poem'
	- title = '«Я за тебя тревожусь каждый час»'
	- description = 'Я за тебя тревожусь каждый час,Чтоб наша жизнь тебя не огорчала.'
	- image = `${data.general.baseDir}assets/images/poem/8.jpg`

append vars

block content
	+router(pageName)
		include @components/header/header
		+poem(data1.poem8)
