extends @pug/base

append globals
	- pageName = 'poem'
	- title = '«Прощаясь с прошлым…»'
	- description = 'Прощаясь с прошлым, Я прощусь с тобой.'
	- image = `${data.general.baseDir}assets/images/poem/27.jpg`

append vars

block content
	+router(pageName)
		include @components/header/header
		+poem(data1.poem27)
