extends @pug/base

append globals
	- pageName = 'competition'
	- title = 'Конкурс стихов молодых поэтов'
	- description = '&nbsp;'
	- image = `${data.general.baseDir}assets/images/competition/share.jpg`

append vars

	-
		var competitions = [
			{
				title: '«Какое розовое небо»',
				text: 'Какое розовое небо,<br>' +
						'Какая тишь на берегу.<br>,' +
						'Как благодарственный молебен<br>' +
						'Пишу «спасибо» на снегу.<br>' +
						'Простое, хрупкое, большое.<br>' +
						'Озябшей варежкой пишу. <br>' +
						'За то, что утром снег пошел и<br>' +
						'Так знаком его маршрут.<br>' +
						'Он сверху вниз, а я навстречу,<br>' +
						'И этот миг для нас двоих.<br>' +
						'Благодарю за эту вечность<br>' +
						'На белых варежках моих.',
				dots: true,
				author: 'Варвара Заборцева',
				votes: '22',
			},
			{
				class: '_tall',
				title: '«Уходил за водой...»',
				text: 'Уходил за водой, а вернулся с котом под курткой,<br>' +
						'Мол, не больше ладони, не выживет – холода.<br>,' +
						'Жили странно, на завтрак – попытка скурить окурки<br>' +
						'От вчерашнего ужина. Но я сказала «да».<br>' +
						'Жили скромно, но в целом, конечно, не так, чтоб очень:<br>' +
						'Были свечи и песни, и спальники, и вино...<br>' +
						'Кот мурлыкал баюльнее самой беззвездной ночи,<br>' +
						'Даже если казалось, что стало совсем темно.<br>' +
						'Жили-были, добра не нажив, на наживу плюнув,<br>' +
						'От зимы до зимы, от рассвета и до рассвета.<br>' +
						'Говорят, жили плохо. Спасала, мол, глупость юных. <br>' +
						'Кот таскал у соседей оставленные котлеты.<br>' +
						'Жили всяко: и струны рвались, и худились джинсы, <br>' +
						'И гремели стаканы, задорно крошась об пол...<br>' +
						'Кот мурлыкал. Он очень ко времени появился,<br>' +
						'Не ко времени только однажды от нас ушел.<br>' +
						'И когда пустота обложила холодной ватой,<br>' +
						'А до новой зимы нам осталось не больше вдоха,<br>' +
						'Я взглянула на угол постели, котом измятой,<br>' +
						'И тогда поняла: жили славно.<br>' +
						'А будем – плохо.',
				author: 'Яна Цыганкова.',
				votes: '19',
			},
			{
				title: '«Обманчиво притихшая погода»',
				text: 'Обманчиво притихшая погода,<br>' +
						'И ясный день, и осень облетела,<br>' +
						'И воробей по строчкам небосвода<br>' +
						'Как первоклашка, пишет неумело.<br>' +
						'Его письмо без подписи и даты<br>' +
						'Найдешь на дне пустеющей кормушки.<br>' +
						'Насыпь зерна, ведь ты не виновата:<br>' +
						'Придет зима, и горечь станет глуше.<br>' +
						'За тридцать дней не расшифруешь почерк.<br>' +
						'На тридцать первый взор поднимешь выше,<br>' +
						'А там – светло от звездных многоточий:<br>' +
						'Придет пора, и счастье станет ближе.',
				dots: true,
				author: 'Яна Цыганкова.',
				votes: '36',
			},
			{
				title: '«Снегопад»',
				text: 'Снег обнимает город со всех концов.<br>' +
						'Я поднимаю голову к фонарю,<br>' +
						'Падает снег, выцеловывая лицо,<br>' +
						'Я на него смотрю.<br>' +
						'Город становится мягче, белей, светлей,<br>' +
						'Снег так кружится, что кружится голова,<br>' +
						'Снег засыпает стрелы косых аллей,<br>' +
						'И засыпает Москве.<br>' +
						'Я пробираюсь по улицам сквозь пургу,<br>' +
						'Падает снег, сквозь меня прорастает стих,<br>' +
						'Падает снег и касается нежно губ,<br>' +
						'И где-то там – твоих. ',
				dots: true,
				author: 'Анастасия Митрофанова.',
				votes: '36',
			},
			{
				class: '_tall',
				title: '«Карантинное»',
				text: 'Здравствуй, мой милый, мне снился чудесный сон.<br>' +
						'Там мы друг друга спокойно могли касаться,<br>' +
						'Мерно качаясь, тихо стучал вагон,<br>' +
						'Мы уезжали, чтоб больше не расставаться.<br>' +
						'Я просыпаюсь, распахивая глаза,<br>' +
						'А потолок – все тот же, что день назад.<br>' +
						'Жизнь продолжается, все у нас хорошо,<br>' +
						'График загруженный – словно до карантина.<br>' +
						'Я привыкаю – телом, умом, душой –<br>' +
						'Существовать не целой, а половинной.<br>' +
						'Пахнет весной – это папа открыл балкон.<br>' +
						'Маска, перчатки – я в магазин за хлебом:<br>' +
						'Это, наверное, пятый уже батон,<br>' +
						'Просто мне хочется снова увидеть небо.<br>' +
						'Жизнь продолжается, тянется вверх трава,<br>' +
						'Почки полопались, громко щебечут птицы,<br>' +
						'Лес из окошка виден едва-едва,<br>' +
						'Лес теперь для полиции.<br>' +
						'Милый, хороший, время проходит зря,<br>' +
						'Сесть бы на поезд и ехать к тебе до станции...<br>' +
						'(А в новостях говорят все и говорят<br>' +
						'О социальной (анти-, скорей) дистанции.)<br>' +
						'Я просыпаюсь, и нежно мурлычет кот.<br>' +
						'Я открываю глаза, я сажусь – и снова<br>' +
						'Тянется медленно странный и страшный год,<br>' +
						'Двадцать-двадцатый от Рождества Христова.',
				dots: true,
				author: 'Анастасия Митрофанова.',
				votes: '144',
			},
			{
				title: 'Летний дождь',
				text: 'Тучи, порванные в клочья,<br>' +
						'Слез непролитых полны –<br>' +
						'Кто-то непременно хочет<br>' +
						'Пятна смыть с лица Луны.<br>' +
						'Кто-то хочет очень сильно<br>' +
						'Этот мир немолодой,<br>' +
						'Онемевший, вялый, пыльный<br>' +
						'Окатить живой водой.<br>' +
						'Загудит гроза призывно,<br>' +
						'И небесный генерал<br>' +
						'Даст сигнал к началу ливня<br>' +
						'Острым росчерком пера.<br>' +
						'И, дождавшись омовенья,<br>' +
						'Передумав умирать,<br>' +
						'Куст обломанной сирени<br>' +
						'Плечи распрямит опять.<br>' +
						'А наутро, голосистым<br>' +
						'Птичьим хором пробужден,<br>' +
						'Мир проснется чистым-чистым,<br>' +
						'Как и был задуман он.',
				dots: true,
				author: 'Анастасия Кривецкая',
				votes: '36',
			},
			{
				title: '«Пока стучат колеса в сонном поезде...»',
				text: 'Пока стучат колеса в сонном поезде,<br>' +
						'не порть глаза за книжкой, лучше спи.<br>' +
						'А бают, нет печальней в мире повести,<br>' +
						'чем там что написал Вильям Шекспир.<br>' +
						'хоть, как и я, наверно, не читал.<br>' +
						'А у меня не ромеоджульеттово<br>' +
						'все получилось. Ну, вокзал, Чита,<br>' +
						'стояла в платье модном (фиолетовом<br>' +
						'в горох), с платочком, все как у других.<br>' +
						'Да спи, а лучше расскажи про этого,<br>' +
						'который духов вызывал в круги.<br>' +
						'Вот у Шекспира про любовь, и всякому<br>' +
						'понятно, да и слез не лишено.<br>' +
						'А я одна с бумажкой этой плакала,<br>' +
						'и выла – только чтоб не с тишиной.<br>' +
						'Нет, лучше спи. Тревожить-то негоже нам<br>' +
						'все то, что стоптано и сожжено.<br>' +
						'Но на вокзале, будто бы прохожие,<br>' +
						'мы встретились: я с мужем, он с женой.<br>' +
						'Вильям бы не придумал бестолковей стих.<br>' +
						'А мне опять казалось, что одна, с<br>' +
						'платочком. Знаешь, нет страшнее повести,<br>' +
						'чем та,<br>' +
						'которая<br>' +
						'про <br>' +
						'нас.',
				dots: true,
				author: 'Зарина Бикмуллина',
				votes: '36',
			},
			{
				title: '«Случайная встреча»',
				text: 'В дешевой кофейне у моря под вечер<br>' +
						'За столиком круглым случайная встреча.<br>' +
						'Два кофе в стаканчиках плотных бумажных,<br>' +
						'Простая беседа о чем-то неважном,<br>' +
						'О чем-то смешном и понятном обоим,<br>' +
						'Под возгласы чаек и шепот прибоя.<br>' +
						'Свободное время закончилось быстро,<br>' +
						'Автобусам дружно сползались туристы,<br>' +
						'Довольны поездкой, усталы и сыты,<br>' +
						'Несли сувениры, вино и магниты.<br>' +
						'И мы разбежались стремительно как-то,<br>' +
						'Не думая даже оставить контакты,<br>' +
						'Чтоб в будущем снова наладить общенье.<br>' +
						'Кто знает, а вдруг было бы продолженье<br>' +
						'Того, что случается с первого взгляда...<br>' +
						'Но, впрочем, не надо, не надо, не надо...<br>' +
						'В мирах параллельных жить будем мы дальше<br>' +
						'Среди равнодушия, скуки и фальши,<br>' +
						'В сетях, где никто ни к кому не привязан,<br>' +
						'Где мало что значат случайные фразы.<br>' +
						'Пусть помнится солнце закатное грузное,<br>' +
						'И небо, залитое соком арбузным,<br>' +
						'И запах душистый кофейного пара,<br>' +
						'И жаркий румянец под маской загара...',
				dots: true,
				author: 'Анастасия Кривецкая',
				votes: '36',
			},
			{
				title: '«И ничего здесь не будет...»',
				text: 'И ничего здесь не будет, кроме<br>' +
						'Вечной тоски по зеленым кронам,<br>' +
						'Миру, где не угасает лето –<br>' +
						'Молодость, молодость, ты ли это?<br>' +
						'Ты ли уходишь в горелый август?<br>' +
						'Ты ли сдаешься под белым флагом?<br>' +
						'Белое платье – билет в неволю –<br>' +
						'Жизнь, это жизнь пролетает, что ли?<br>' +
						'Серое небо не выдаст звука,<br>' +
						'Серая зрелость подходит глухо –<br>' +
						'В землю упасть, прорасти, случиться,<br>' +
						'Кто это, кто это в дом стучится?<br>' +
						'Кто в домофоне нас вспоминает?<br>' +
						'Люди со взрослыми именами.<br>' +
						'Женщина в сумке растит продукты,<br>' +
						'Вот мой билет, господин кондуктор.<br>' +
						'Боль и невроз заберут герани –<br>' +
						'Кто во мне, кто во мне умирает?<br>' +
						'Мир для других зацветет зеленым,<br>' +
						'Сплин и покой в облетевших кронах.',
				dots: true,
				author: 'Алина Гоникберг',
				votes: '36',
			},
			{
				title: '«Так тревожно багульник зацвел в апреле...»',
				text: 'Так тревожно багульник зацвел в апреле,<br>' +
						'И в квартире запахло весною сразу,<br>' +
						'Будто птицы за окнами вмиг запели,<br>' +
						'Повторяя забытую с детства фразу;<br>' +
						'Будто снова у дома растет осина<br>' +
						'И не вспыхнет упавшая на пол щепка,<br>' +
						'В сорок первом война не отнимет сына,<br>' +
						'Нерожденная дочка обнимет крепко;<br>' +
						'Будто кто-то с работы вернется рано<br>' +
						'И на гвоздик повесит пальто в прихожей,<br>' +
						'И присядет неслышно на край дивана,<br>' +
						'Станет радость на чьи-то глаза похожей;<br>' +
						'И воскреснет заря на портретах окон,<br>' +
						'И не будет свободного дня в неделе...<br>' +
						'Седина проступает сквозь каждый локон.<br>' +
						'Так тревожно багульник зацвел в апреле.',
				dots: true,
				author: 'Наталья Жигунова',
				votes: '144',
			},
			{
				title: '«Диптих, 1.Я»',
				text: 'За пазухой бережно слово я нес,<br>' +
						'теряя себя без остатка,<br>' +
						'средь бурь небывалых и молний, и гроз<br>' +
						'дрожал как босая лошадка,<br>' +
						'но вышел навстречу я осени из<br>' +
						'теплой летней постели:<br>' +
						'озябшими листьями падали вниз<br>' +
						'слова<br>' +
						'и в ногах шелестели<br>' +
						'беззвучно, невнятно и тихо, и так<br>' +
						'смешно,<br>' +
						'будто все это шутка!<br>' +
						'но холодом вечности веет с бумаг<br>' +
						'неистово<br>' +
						'дико<br>' +
						'и жутко...<br>' +
						'С тех пор не могу я два слова связать<br>' +
						'и намертво в голову въелись<br>' +
						'глухой немоты роковая печать<br>' +
						'и тихий юродивый<br>' +
						'шелест.',
				dots: true,
				author: 'Иван Клочков',
				votes: '144',
			},
			{
				title: '«Диптих, 2.ТЫ»',
				text: 'Услышь,<br>' +
						'Как моя Марсельеза любви<br>' +
						'Течет по ступеням из клавиш,<br>' +
						'Мария,<br>' +
						'мы родственны<br>' +
						'в лимфе,<br>' +
						'в крови,<br>' +
						'Мы родственны.<br>' +
						'Ты это знаешь?<br>' +
						'Мария,<br>' +
						'узри,<br>' +
						'когда я говорю<br>' +
						'стихом своим<br>' +
						'Птичьим,<br>' +
						'Ребячьим,<br>' +
						'Молекулы Эроса по январю<br>' +
						'Расходятся снегом горячим.<br>' +
						'Мария,<br>' +
						'когда я касаюсь твоей<br>' +
						'нежно-девичьей кожи,<br>' +
						'я чувствую родственность гор и морей,<br>' +
						'я чувствую, как мы похожи<br>' +
						'Мария,<br>' +
						'Мой стих опечаленный<br>' +
						'в дым<br>' +
						'Течет<br>' +
						'по ступеням из клавиш,<br>' +
						'Я знаю:<br>' +
						'мы связаны чувством шестым.<br>' +
						'Мы связаны.<br>' +
						'Ты это знаешь?',
				dots: true,
				author: 'Иван Клочков',
				votes: '36',
			},
			{
				title: '«В небе»',
				text: 'В небе плывет неспешно<br>' +
						'Облако белым пуншем.<br>' +
						'Ветер поет потешно,<br>' +
						'Если его послушать.<br>' +
						'Хвастает ветер силой,<br>' +
						'Солнце летит в карете.<br>' +
						'Небо всегда красиво,<br>' +
						'Если его заметить.<br>' +
						'Купол небес похож на<br>' +
						'Сотни парящих перьев.<br>' +
						'Счастье найти возможно,<br>' +
						'Просто в нег поверив.',
				dots: true,
				author: 'Елена Андрианова',
				votes: '36',
			},
			{
				title: '«Молитва»',
				text: 'Не сосватана, не помолвлена,<br>' +
						'Своим сердцем с другим не связана,<br>' +
						'За свечой сидит, намоленной,<br>' +
						'Одиноко девица красная.<br>' +
						'И слагает слова молитвою,<br>' +
						'Обращается ко Всевышнему:<br>' +
						'«Ты рабу, Господь, сохрани Твою!<br>' +
						'Не о свадьбе прошу о пышной я,<br>' +
						'Не богатства я жду монетного,<br>' +
						'Не поклонников многочисленных;<br>' +
						'Жду я чувства навек ответного<br>' +
						'От того, кто со мною мысленно.<br>' +
						'Но на карте судьба невидима;<br>' +
						'Жизнь Земная в сто лет – короткая,<br>' +
						'Потому я прошу – веди меня!<br>' +
						'Тебе сверху виднее все-таки».',
				dots: true,
				author: 'Елена Андрианова',
				votes: '144',
			},
			{
				title: '«От Сириуса до Омеги»',
				text: 'От Сириуса до Омеги,<br>' +
						'Туда, где в Лире светит Вега<br>' +
						'Душа прокладывает путь,<br>' +
						'Желая прежнее вернуть,<br>' +
						'Желая новое найти<br>' +
						'На этом призрачном пути;<br>' +
						'Желаний спутанный клубок<br>' +
						'Бросает, глядя в потолок<br>' +
						'Через бетонный слой стены,<br>' +
						'Где звезды космоса видны.<br>' +
						'«Авось дотянет до звезды,<br>' +
						'Оставив в космосе следы.<br>' +
						'По ним найдемся. Я и ты».',
				dots: true,
				author: 'Елена Андрианова',
				votes: '36',
			},
			{
				title: '«Пузырит рубашку ветер»',
				text: 'Пузырит рубашку ветер,<br>' +
						'Дарит скорость и полет.<br>' +
						'Мы вдвоем с велосипедом<br>' +
						'Катим все быстрее вперед.<br>' +
						'Пахнем теплым разнотравьем<br>' +
						'И коровьим молоком,<br>' +
						'Мокрым от дождя асфальтом<br>' +
						'И ромашкою потом.<br>' +
						'Сеном пахнет, влагой леса –<br>' +
						'Дышишь носом и душой.<br>' +
						'Счастье маленького веса,<br>' +
						'Но объем его большой.',
				dots: true,
				author: 'Дарья Башкирова',
				votes: '36',
			},
			{
				title: '«Золотистый листочек»',
				text: 'Золотистый листочек упал на ладонь.<br>' +
						'И как будто согрел онемевшую руку.<br>' +
						'Да, порой и не знаешь, где радость, где боль.<br>' +
						'Все одно – и любовь, и разлука.<br>' +
						'Почему так тепло, когда ветер простер<br>' +
						'Свою длань для объятий ненастных?<br>' +
						'И трепещут деревья, как будто костер.<br>' +
						'Почему это повод для счастья?<br>' +
						'Вроде пасмурно, но отчего-то светло.<br>' +
						'Рассыпаются искры дождя ледяного.<br>' +
						'Или это холодному ветру назло<br>' +
						'Пробуждается вера и слово?..<br>' +
						'Золотистый листочек упал на ладонь.<br>' +
						'Что с тобой? Это капли разлуки?<br>' +
						'Да, порой не узнать, где вода, где огонь.<br>' +
						'Ты слезами согрел мою руку.',
				dots: true,
				author: 'Павел Барановский',
				votes: '144',
			},
			{
				title: '«Прощание»',
				text: 'Обнимаю тебя горизонтом,<br>' +
						'Руки-птицы ложатся на плечи...<br>' +
						'Дышим неравномерно, экспромтом,<br>' +
						'Нет того, что бы сделало легче.<br>' +
						'Почему-то не хочется плакать,<br>' +
						'А глаза говорят об обратном...<br>' +
						'Время, словно песчаная мякоть,<br>' +
						'Утопающая невозвратно.<br>' +
						'Ну пожалуйста, я не сумею,<br>' +
						'Разведи руки раньше, чем можно,<br>' +
						'Я запомню, как дышишь мне в шею,<br>' +
						'Это будет нисколько не сложно.<br>' +
						'Взгляд в глаза, поворот девяносто,<br>' +
						'Ухожу нарочито небрежно.<br>' +
						'Я люблю тебя всем своим ростом,<br>' +
						'Показательно дерзко и нежно.<br>' +
						'Удивительно дерзко и нежно.',
				dots: true,
				author: 'Яна Бердникова',
				votes: '36',
			},
			{
				class: '_tall',
				title: '«Про Колю (со слов подруги)»',
				text: 'Мне было тогда двенадцать.<br>' +
						'Мы с братом учились в школе.<br>' +
						'Он должен был выпускаться<br>' +
						'С друзьями: Саньком и Колей.<br>' +
						'Бесстрашной была, счастливой,<br>' +
						'На шпильках могла хоть в море!<br>' +
						'Подраться могла. Любила<br>' +
						'Зеленый я цвет. И Колю.<br>' +
						'А он был ужасно взрослым.<br>' +
						'И правильным. И глубоким.<br>' +
						'А я замирала просто,<br>' +
						'Когда загорались щеки.<br>' +
						'Три друга. Три мушкетера.<br>' +
						'Для мамы: три поросенка.<br>' +
						'Спектакль на трех актеров<br>' +
						'Играли на бис девчонкам...<br>' +
						'Взлетел мотоцикл птицей.<br>' +
						'Прорезал шоссе рев скорой.<br>' +
						'И Шурик попал в больницу.<br>' +
						'А Коля... нет больше Коли.<br>' +
						'Последний звонок. И точка.<br>' +
						'Не сыгран на бис спектакль.<br>' +
						'Оставлю пустую строчку.<br>' +
						'И больше мой брат не плакал.<br>' +
						'Давно мы расстались с детством...<br>' +
						'Но море не лечит горе.<br>' +
						'И я до сих пор, всем сердцем,<br>' +
						'Зеленый люблю. И Колю.',
				dots: true,
				author: 'Яна Бердникова',
				votes: '36',
			},
			{
				title: '«Твердят, что ты обманщик...»',
				text: 'Твердят, что ты обманщик и безбожник,<br>' +
						'Далекий и не мой, как ни крути,<br>' +
						'Но я тебя как мягкий подорожник<br>' +
						'Прижала бы к израненной груди.<br>' +
						'Я шла бы за тобой всегда послушно<br>' +
						'И вслух благословляла каждый час,<br>' +
						'Но этого, увы, тебе не нужно:<br>' +
						'Другие музы делят твой Парнас.<br>' +
						'Победный твой покой я не нарушу:<br>' +
						'Я счастлива, мне это ни к чему.<br>' +
						'Твоей улыбкой согревая душу,<br>' +
						'Весь мир к тебе любовью обниму.',
				dots: true,
				author: 'Екатерина Богданова',
				votes: '144',
			},
			{
				title: '«Люби ее...»',
				text: 'Люби ее. Она вполне достойна<br>' +
						'Твоей украсить жизни карнавал.<br>' +
						'Такие не проигрывают войны:<br>' +
						'Подходят и сражают наповал.<br>' +
						'Быть как она – особое искусство,<br>' +
						'Природный дар, а может, тяжкий труд,<br>' +
						'А может, только смелость, безрассудство<br>' +
						'Над гордыми сердцами верх берут?<br>' +
						'И пусть я эту тайну не узнаю,<br>' +
						'Теперь моя судьба в моих руках.<br>' +
						'Ты дал мне больше, чем любовь земная –<br>' +
						'Бессмертие в рифмованных строках.',
				dots: true,
				author: 'Екатерина Богданова',
				votes: '36',
			},
			{
				class: '_tall',
				title: '«Я вернулся, туда...»',
				text: 'Я вернулся туда, где было тепло и сухо,<br>' +
						'Где старуха стирала белье, напевая романс.<br>' +
						'У рябины тогда пожелал я тебе «ни пуха»,<br>' +
						'И ты звонко смеялась, за воздух хватаясь, держась.<br>' +
						'Там, у ветхого дома, где черепицы серость<br>' +
						'Так удачно сокрыта листьями, павшими с крон,<br>' +
						'Мне впервые тебя обнять что есть сил захотелось,<br>' +
						'Когда грянул над нами длинный, раскатистый гром.<br>' +
						'В том чудесном саду, у смородины черной, терпкой,<br>' +
						'Заплетал в твои косы легким движеньем руки<br>' +
						'Растущие рядом с белой красивой беседкой,<br>' +
						'Душистые, мягкие, в цвет синевы – васильки.<br>' +
						'Но время ушло, и старый фундамент, как воин,<br>' +
						'Рухнул в крапиву, и все поросло чередой...<br>' +
						'Я думал когда-то: не страшно, мол, новый построим –<br>' +
						'Светлей и просторнее. Главное, вместе с тобой.<br>' +
						'Но ставни закрыты. Рябина поломана ветром...<br>' +
						'Повсюду следы от страшных укусов огня...<br>' +
						'Как жаль, что подернулось прошлое копотью, пеплом:<br>' +
						'И дом, и рябина, и васильки для тебя.',
				dots: true,
				author: 'Владимир Богомолов',
				votes: '36',
			},
			{
				title: '«Настанет день...»',
				text: 'Настанет день, я поднимусь,<br>' +
						'Надену туфли, сделаю прическу,<br>' +
						'Достану платье розовое в блестках<br>' +
						'И никогда к тебе не повернусь.<br>' +
						'Ну, а пока, в засаленном халате,<br>' +
						'В домашних тапках, с видом очень сонным,<br>' +
						'Я говорю себе: «Пожалуй, хватит<br>' +
						'Есть мед с едва прожаренным беконом».',
				dots: true,
				author: 'Анастасия Быкова',
				votes: '144',
			},
			{
				title: '«Апрель, запах краски...»',
				text: 'Апрель, запах краски и звук каблуков,<br>' +
						'Деревья с намеком на листья.<br>' +
						'Я, кажется, вырвалась из оков<br>' +
						'Зимы. И полна новых мыслей.<br>' +
						'Исчезла сверлящая душу грусть,<br>' +
						'Тревога вот-вот испарится...<br>' +
						'Пусть прошлое минет, оставит пусть!<br>' +
						'Позвольте же вновь влюбиться<br>' +
						'В движение быстрое облаков,<br>' +
						'В охват всеобъемлющий света,<br>' +
						'В реку, отошедшую ото льдов –<br>' +
						'В зачатки удачного лета!<br>' +
						'И жить хорошо, и легко дышать,<br>' +
						'Вставать по утрам, улыбаться.<br>' +
						'Прекрасное время – творить, мечтать,<br>' +
						'Надеяться и наслаждаться!',
				dots: true,
				author: 'Анастасия Быкова',
				votes: '36',
			},
			{
				title: '«Желание»',
				text: 'Порождаешь такую тугую мглу<br>' +
						'В мирно дремлющем женском лоне,<br>' +
						'Что я от тебя со всех ног бегу,<br>' +
						'А ты без усилий ловишь.<br>' +
						'Слова бы связать – заклинаньем с губ,<br>' +
						'Да солью отгородиться,<br>' +
						'И кажется мне: без тебя могу.<br>' +
						'(Ведь все это только снится!)<br>' +
						'Куда ни приду, везде холод, лед,<br>' +
						'Одежда не по погоде,<br>' +
						'Но только с тобою меня трясет,<br>' +
						'Как в призрачный миг агонии.<br>' +
						'Пытаюсь нарушить земной контракт,<br>' +
						'Исчезнуть, уйти, укрыться.<br>' +
						'Но мне без тебя – никуда, никак!<br>' +
						'Неужто лишь покориться? ...',
				dots: true,
				author: 'Ольга Ваникевич',
				votes: '36',
			},
			{
				title: '«На тучи солнце ясное обидится»',
				text: 'На тучи солнце ясное обидится,<br>' +
						'С небес на город ляжет ночи тень.<br>' +
						'И даже если завтра не увидимся<br>' +
						'То завтра – все равно хороший день<br>' +
						'Скользит по улице трамвай полуночный,<br>' +
						'Передает любовь по проводам.<br>' +
						'Я не найду тебя в соседней булочной,<br>' +
						'И даже если сердцем – «не отдам».<br>' +
						'В ночи бездушный город прячется,<br>' +
						'Зашитый в пеноблоковый хай-тек.<br>' +
						'Туда, где пропуск в сердце значится,<br>' +
						'Я запишу: «Мой милый человек».<br>' +
						'Чернее ночи, в каждый проводок<br>' +
						'Густая тьма проникла и бежит,<br>' +
						'Тенями перережет потолок,<br>' +
						'Заполнит все, как ей и надлежит.<br>' +
						'Я захлебнусь в ней – дышится едва,<br>' +
						'Когда чернил захлестывают реки.<br>' +
						'И кажется, что рвется тьмы вода<br>' +
						'В окно, переливаясь через веки.',
				dots: true,
				author: 'Мария Гришкова',
				votes: '144',
			},
			{
				title: '«Снег метет...»',
				text: 'Снег метет на Гнездниковском,<br>' +
						'Ветер воет на Тверской,<br>' +
						'В синем воздухе московском<br>' +
						'Пахнет хвоей голубой.<br>' +
						'Снится вещее, родное<br>' +
						'В ночь на Старый Новый год.<br>' +
						'Все былое, все чужое<br>' +
						'Отправляй, январь, в расход.<br>' +
						'Пусть дровами – дым над крышей –<br>' +
						'Станет прежний ворох слов...<br>' +
						'Пусть ложится ниже, тише<br>' +
						'Самый чистый из снегов.',
				dots: true,
				author: 'Татьяна Горнякова',
				votes: '144',
			},
			{
				class: '_tall',
				title: '«Туманами да росой»',
				text: 'Туманами да росой<br>' +
						'Я выйду к тебе босой:<br>' +
						'Нескошеные пути<br>' +
						'Нам посуху не пройти.<br>' +
						'Там плещется о своем<br>' +
						'Невидимый водоем,<br>' +
						'И слушает старый парк,<br>' +
						'Как я выдыхаю пар<br>' +
						'О суетном и пустом:<br>' +
						'Который читаю том<br>' +
						'И чем заполняю день.<br>' +
						'Мой голос слабей, чем тень,<br>' +
						'И, вымучены, едва-<br>' +
						'-едва шелестят слова.<br>' +
						'Как пусто, куда ни глянь,<br>' +
						'Ни отсвета, ни огня!<br>' +
						'Сам воздух, суров и груб,<br>' +
						'Не слушает больше губ,<br>' +
						'Угрюмо гудит в ответ.<br>' +
						'Не тот и не этот свет<br>' +
						'Условен и близорук.<br>' +
						'Туман возвращает звук,<br>' +
						'И кажется – я кричу.<br>' +
						'Мы жмемся плечом к плечу,<br>' +
						'И нас обнимает тишь.<br>' +
						'Я плачу, ты – все молчишь.',
				dots: true,
				author: 'Ольга Гунина',
				votes: '144',
			},
			{
				title: '«На закате солнцу нужно верить...»',
				text: 'На закате солнцу нужно верить...<br>' +
						'На закате солнце не обманет...<br>' +
						'Для него открыты к жизни двери...<br>' +
						'А для нас его сейчас не станет...<br>' +
						'Не печалься: там ему получше,<br>' +
						'Там светиться будет с новой силой.<br>' +
						'Там и чувства искренней и глубже<br>' +
						'Рядом с жизнью сказочно красивой.<br>' +
						'А сейчас, когда оно заходит<br>' +
						'Улыбнись, открой для света двери...<br>' +
						'Пусть печаль... Но пусть она проходит...<br>' +
						'На закате солнцу нужно верить.',
				dots: true,
				author: 'Александр Дежнев',
				votes: '144',
			},
			{
				title: '«Мое прекрасное одиночество.»',
				text: 'Мое прекрасное одиночество,<br>' +
						'Моя уютная пустота...<br>' +
						'Ты одна в непременном высочестве<br>' +
						'Была так искренна и проста.<br>' +
						'В своем удушливо-нежном флере<br>' +
						'Купала краски моих цветов,<br>' +
						'Мое искусство в твоем просторе,<br>' +
						'Закон не писан, но он таков.<br>' +
						'И я за жизни порочным кругом<br>' +
						'Находила тебя во всем...<br>' +
						'Ты была мне предательски другом,<br>' +
						'Ты была и зонтом, и дождем...<br>' +
						'Мрачным духом холодной ночи<br>' +
						'И осколками кораблей,<br>' +
						'Ты была в изгибах обочин<br>' +
						'И заломленных тонких кистей...<br>' +
						'Ты была моим комом в горле<br>' +
						'Что с невинною лаской душил,<br>' +
						'Это ты стала верхом боли<br>' +
						'Моей одинокой души...',
				dots: true,
				author: 'Валерия Давыдова',
				votes: '144',
			},
			{
				title: '«Впереди восход»',
				text: 'Впереди восход,<br>' +
						'Позади закат.<br>' +
						'Я иду вперед –<br>' +
						'Нет пути назад<br>' +
						'Впереди роса,<br>' +
						'Позади туман.<br>' +
						'Я иду в места,<br>' +
						'Где растет бурьян.<br>' +
						'Впереди простор,<br>' +
						'Позади уют,<br>' +
						'Позади забор,<br>' +
						'Позади не ждут.<br>' +
						'Я иду вперед,<br>' +
						'Нет пути назад.<br>' +
						'Впереди восход –<br>' +
						'Позади закат.',
				dots: true,
				author: 'Александр Дежнев',
				votes: '144',
			},
			{
				title: '«Протяни мне ладонь»',
				text: 'Протяни мне ладонь – я в ответ протяну тебе счастье,<br>' +
						'Пусть оно засияет в твоих васильковых глазах...<br>' +
						'Я чуть-чуть промолчу – мы оставим все беды без власти,<br>' +
						'Я чуть-чуть улыбнусь, снова что-то забыв второпях.<br>' +
						'Мы не смеем спугнуть эту радость осеннего утра,<br>' +
						'Как не смеет трубач в полдень счастья о горе трубить.<br>' +
						'Пусть же в этот момент станет легче на сердце кому-то,<br>' +
						'Пусть же в ту секунду будут люди друг друга любить!<br>' +
						'Протяни мне ладонь – я в ответ протяну тебе счастье...<br>' +
						'Я готов это сотни и тысячи раз повторять.<br>' +
						'В этот краткий момент исполненье мечты в нашей власти...<br>' +
						'Протяни мне ладонь – будем вместе по жизни шагать!',
				dots: true,
				author: 'Александр Дежнев',
				votes: '144',
			},
			{
				title: 'Уважение»',
				text: 'Уважают собаку за добрый нрав,<br>' +
						'Льва и тигра – за сильное тело.<br>' +
						'Уважают героя за то, что он прав.<br>' +
						'А людей уважают за дело.<br>' +
						'Уважают цветы за красивый вид,<br>' +
						'А черешни – за плод их спелый.<br>' +
						'Мухомор уважают – он ядовит.<br>' +
						'А людей уважают за дело.<br>' +
						'Уважают стрелу за быстрый полет.<br>' +
						'Лошадей – за галоп их смелый.<br>' +
						'Уважают за празднество новый Год.<br>' +
						'А людей уважают за дело.<br>' +
						'Человек не гриб, не цветок, не побег,<br>' +
						'Не зверь и даже не птица,<br>' +
						'И чтоб дело его не забылось вовек,<br>' +
						'Человек обязан учиться.<br>' +
						'Чтоб сады зеленели, дома росли,<br>' +
						'Чтоб в сердцах звенело Стремленье,<br>' +
						'Нужно стать достойным Родной Земли,<br>' +
						'Заслужив ее уваженье.',
				dots: true,
				author: 'Елена Завизион',
				votes: '144',
			},
			{
				title: 'Не нужно джаза»',
				text: 'Сижу на Волге, читаю Блока.<br>' +
						'И вместо канала шумит река.<br>' +
						'Не нужно джаза, не нужно рока,<br>' +
						'Здесь музыка леса звучит на века.<br>' +
						'Прячется солнце, прячется лодка<br>' +
						'За цепью туманных вдали островов.<br>' +
						'И вид этот будто бы нитями соткан<br>' +
						'Из музыки, ритма, картин и стихов.<br>' +
						'Хмурится небо, дуются волны.<br>' +
						'День объявляет закатный час.<br>' +
						'Луч над рекою торжественно смотрит<br>' +
						'На мелких людей на Земле вроде нас.',
				dots: true,
				author: 'Ольга Зеленова',
				votes: '144',
			},
			{
				title: '«Тяжелый утренний подъем»',
				text: 'Тяжелый утренний подъем,<br>' +
						'Автобус, давка – на работу.<br>' +
						'Скупой обед дождливым днем,<br>' +
						'Работа на дом, на субботу.<br>' +
						'Пусть. Все страдания на грош.<br>' +
						'И как бы не было мне тяжко,<br>' +
						'Я знаю, ты ко мне придешь<br>' +
						'В ночной коротенькой рубашке.<br>' +
						'Да, жизнь – игра, как цу – е – фа:<br>' +
						'Рукою быстрая отмашка.<br>' +
						'Но побеждает на раз-два,<br>' +
						'Все побеждает на раз-два,<br>' +
						'Одна единственно права<br>' +
						'Твоя короткая рубашка.',
				dots: true,
				author: 'Максим Ковалев',
				votes: '144',
			},
			{
				title: '«Больше жизни»',
				text: 'Это все уже было, было:<br>' +
						'Эта ветка и этот свет<br>' +
						'За окном. Ты всегда любила<br>' +
						'Их спросонья. А, скажешь, - нет?<br>' +
						'Ты была. До времен. До знаков,<br>' +
						'До глагольных моих на -ил<br>' +
						'Рифм. И я – как пророк Иаков –<br>' +
						'Самый первый тебя любил.<br>' +
						'Мы всегда выходили к лесу<br>' +
						'Посмотреть допотопных птиц.<br>' +
						'Жизнь была только парой жестов:<br>' +
						'Взмах крыла, взмах твоих ресниц.<br>' +
						'Только воздух и только души,<br>' +
						'Принимавшие форму нас.<br>' +
						'Только снег, ледяные кущи,<br>' +
						'Пара масляных птичьих глаз.<br>' +
						'Больше жизни прошло, ты помнишь<br>' +
						'Самый первый, простой завет?<br>' +
						'Взмах ресниц – и с утра, в окошке,<br>' +
						'Эта ветка и этот свет...',
				dots: true,
				author: 'Михаил Иванов',
				votes: '144',
			},
			{
				title: '«Любовь как цепь...»',
				text: 'Любовь как цепь велосипедная –<br>' +
						'Зубец к зубцу.<br>' +
						'Я за тобою вечно следую<br>' +
						'По колесу.<br>' +
						'Скриплю, натянутый меж пинами,<br>' +
						'Но не догнать.<br>' +
						'А ты другому дышишь в спину и<br>' +
						'Спешишь обнять.<br>' +
						'А кто-то шаркает педалями –<br>' +
						'Быстрей, быстрей!<br>' +
						'И наша боль – резерв питания<br>' +
						'Его осей.<br>' +
						'Но полно потакать крутящему<br>' +
						'Чужую грусть!<br>' +
						'В момент движенья восходящего<br>' +
						'Я оторвусь.<br>' +
						'Он остановится, измажется<br>' +
						'Меняя нас.<br>' +
						'Отбросит сломанных – не важное –<br>' +
						'Не в первый раз.<br>' +
						'И мы в единый слой сваляемся,<br>' +
						'слежимся<br>' +
						'все...<br>' +
						'Любовь, она в недостижимости,<br>' +
						'как в колесе.',
				dots: true,
				author: 'Максим Ковалев',
				votes: '144',
			},
			{
				title: '«Не знаешь, что писать..»',
				text: 'Не знаешь, что писать – спроси у пыли.<br>' +
						'А если нет ответов у земли –<br>' +
						'Спроси цветы, что к небу проросли,<br>' +
						'И облака, что издали приплыли.<br>' +
						'И, тела каждой клеточкой дыша,<br>' +
						'Впитай весь мир, поэзией объятый:<br>' +
						'Леса и горы, поле с дикой мятой –<br>' +
						'Все, от чего поет твоя душа.',
				dots: true,
				author: 'Марианна Комогорцева',
				votes: '144',
			},
			{
				class: '_tall',
				title: '«Он говорил...»',
				text: 'Он говорил: «Квазары – твои глаза.<br>' +
						'Волосы – топь болот, тихий хвойный лес».<br>' +
						'Он уезжал туда, где темнел вокзал.<br>' +
						'И исчезал в ночи. Как мой сон исчез.<br>' +
						'Я закрывала дверь на один замок,<br>' +
						'И у окна садилась считать слова.<br>' +
						'Если сходился счет – я брала листок,<br>' +
						'И проходила через слова тесьма.<br>' +
						'Он мне писал: «Я забыть не могу твой цвет,<br>' +
						'Запах осенних листьев от рук твоих».<br>' +
						'Если бы был секрет – но его здесь нет.<br>' +
						'Просто родился мир внутри нас двоих.<br>' +
						'И тишина не всегда означает смерть,<br>' +
						'Холод – не мрак, а разлука – печаль едва.<br>' +
						'В час молчаливой тьмы я могу успеть<br>' +
						'В вечности нужные выцарапать слова.<br>' +
						'Что и его глаза – как трава-дурман,<br>' +
						'Что и объятья – пена прибрежных волн.<br>' +
						'Что в волосах его – уголь, графит, сурьма,<br>' +
						'Что в своей нежности воином он силен.<br>' +
						'И нанизав последнее слово на<br>' +
						'Нитку стиха стихала я, как свеча.<br>' +
						'Ночь накрывала алая пелена,<br>' +
						'Мысли обрывок из-под нее торчал.<br>' +
						'Так затекало тело мое ручьем<br>' +
						'В недра кровати. Где-то светлел вокзал.<br>' +
						'Он заходил, открывая своим ключом,<br>' +
						'Солнечный луч карамель со стены лизал.',
				dots: true,
				author: 'Анна Нескрябина',
				votes: '144',
			},
			{
				title: '«Да»',
				text: 'Мне бы тебя никогда не встречать,<br>' +
						'Не поддаваться любви немедленно.<br>' +
						'Чтобы осколки внутри не считать,<br>' +
						'И не дрожать на пороге ветреном.<br>' +
						'Мне бы вернуться в минувший миг,<br>' +
						'Все изменить и сейчас не мучиться.<br>' +
						'В сердце стирая невольный крик,<br>' +
						'Жить без надежды, что все получится.<br>' +
						'Что происходит с людьми тогда,<br>' +
						'Этого мы никогда не узнали бы.<br>' +
						'Мне бы тебе не ответить «да»,<br>' +
						'Только кто знает, что это правильно?',
				dots: true,
				author: 'Ксения Максимова',
				votes: '144',
			},
			{
				title: '«В городе осень...»',
				text: 'В городе осень и хнычет хандра,<br>' +
						'И никуда от нее не деться.<br>' +
						'К бабушке, к бабушке в гости пора<br>' +
						'Чаем с душицей душою согреться.<br>' +
						'Кутаясь в связанный бабушкой шарф,<br>' +
						'С юным расчетом пройдусь под ручку,<br>' +
						'Помня, что если на щечках пожар,<br>' +
						'Бабушка вновь потеряла внучку.<br>' +
						'Вечером спелый шиповник собрать,<br>' +
						'Бабушка даст мне букетик душицы,<br>' +
						'Будет с улыбкой тепло вспоминать,<br>' +
						'В детстве какой я была озорницей.<br>' +
						'Будет мне в руки проситься ковыль,<br>' +
						'Пижма медовая пахнуть знакомо.<br>' +
						'Снова к земле припадаю без сил.<br>' +
						'Бабушка-степь, наконец-то, я дома.',
				dots: true,
				author: 'Наталья Кукушкина',
				votes: '144',
			},
			{
				title: '«А я бы в профиль Вас нарисовал»',
				text: 'А я бы в профиль Вас нарисовал,<br>' +
						'Запечатлев весеннее мгновение.<br>' +
						'Да только в этом опыт мой так мал,<br>' +
						'Что не достоин будущих похвал.<br>' +
						'Плюс рисованье требует терпенья.<br>' +
						'Вы делаете сложное простым,<br>' +
						'Вы чрезвычайно и во многом правы.<br>' +
						'И ради Вашей нежной красоты<br>' +
						'Перешагну запретные черты,<br>' +
						'Нарушу и законы, и уставы...<br>' +
						'Эх, жаль, нарисовать Вас не смогу,<br>' +
						'Что делать – я по жизни не художник...<br>' +
						'Мой холст давно потерян на бегу,<br>' +
						'И кисти где-то в мартовском снегу...<br>' +
						'Но с Вами быть хочу навеки... можно?',
				dots: true,
				author: 'Алексей Лавров',
				votes: '144',
			},
			{
				title: '«Искать созвучия с другими»',
				text: 'Искать созвучия с другими,<br>' +
						'Искать трезвучия в себе.<br>' +
						'Господь, скажи, мы все такие,<br>' +
						'Что не умеем жить на дне?<br>' +
						'Мы все мечтаем возродиться,<br>' +
						'Мы все хотим уметь парить.<br>' +
						'Мы не хотим с тобой проститься,<br>' +
						'Но и тобою нам не жить.<br>' +
						'Нас бьет, пылит и кувыркает,<br>' +
						'Мы изуверствами живем,<br>' +
						'А по-другому не бывает,<br>' +
						'Только упав мы здесь поем.<br>' +
						'Только упав мы понимаем, <br>' +
						'Что раньше было на развес.<br>' +
						'И забываем, забываем,<br>' +
						'Страну волшебную чудес.<br>' +
						'Теряем время, годы, лица<br>' +
						'С самим собой наедине.<br>' +
						'И все ж мечтаем возродиться,<br>' +
						'Если не здесь, то хоть в мечте.',
				dots: true,
				author: 'Ольга Ковалева',
				votes: '144',
			},
			{
				title: '«Может быть, мальва»',
				text: 'Руки в карманы. Спускаюсь к мосту.<br>' +
						'Тени ложатся вуалями.<br>' +
						'Может быть, я в эту землю врасту<br>' +
						'Между цветастыми мальвами,<br>' +
						'Между изломов щербатой тропы.<br>' +
						'Может, но есть подоплека:<br>' +
						'Если в цветы мои всмотришься ты.<br>' +
						'Где-нибудь неподалеку<br>' +
						'Спешно спускаясь по склону,<br>' +
						'Только у мальв остановишься ты,<br>' +
						'Будто мы снова знакомы.<br>' +
						'И, ощущая биение душ<br>' +
						'В листьях и метаморфозах,<br>' +
						'Скажешь, как будто: «Да ну, это чушь,<br>' +
						'Может, меня оторвешь от корней.<br>' +
						'Может. Но все не напрасно:<br>' +
						'Ты в знак любви отнесешь меня к ней,<br>' +
						'К той, с кем действительно счастлив.<br>',
				dots: true,
				author: 'Оксана Лесовик.',
				votes: '144',
			},
			{
				title: '«Просто вглядеться в сердце»',
				text: 'Просто вглядеться в сердце.<br>' +
						'В душу мою смори!<br>' +
						'Ищет влюбленный герцог<br>' +
						'Ключ от ее двери.<br>' +
						'Россыпью сшито звездной<br>' +
						'Чувств полотно внутри.<br>' +
						'Встреча не будет поздней,<br>' +
						'Только в ответ не ври.<br>' +
						'Голос дрожит. А смелость?<br>' +
						'Не обнаружен след.<br>' +
						'Всем, что сказать хотелось,<br>' +
						'Вечер с тобой согрет.<br>' +
						'Мне бы кричать об этом<br>' +
						'Тысячи теплых фраз,<br>' +
						'Но захотелось где-то<br>' +
						'Спрятать любовь от глаз.',
				dots: true,
				author: 'Елена Медведева',
				votes: '144',
			},
			{
				title: '«Меня называешь странной»',
				text: 'Меня называешь странной,<br>' +
						'А я обнимаю зори,<br>' +
						'Закаты убрав в карманы,<br>' +
						'Сложив в чемоданы море.<br>' +
						'И спрятав на полках звезды.<br>' +
						'Достану, как будет грустно,<br>' +
						'Из тумбочки в сердце воздух,<br>' +
						'Пропитанный детством, вкусный.<br>' +
						'Из юности выну счастье.<br>' +
						'Вчера закатала в банку.<br>' +
						'Надену в ромашках платье,<br>' +
						'Рассветом заем баранку.<br>' +
						'Меня называешь странной.<br>' +
						'Отвечу тебе шутливо:<br>' +
						'«Учусь даже утром рано<br>' +
						'И в счастье бывать счастливой!»',
				dots: true,
				author: 'Елена Медведева',
				votes: '144',
			},
			{
				class: '_tall',
				title: '«Я бегу, потому что так сердцу намного легче»',
				text: 'Я бегу, потому что так сердцу намного легче,<br>' +
						'Не писать, не звонить, не искать ранним утром встречи,<br>' +
						'Я пишу о любви и о том, что казалось вечным,<br>' +
						'Но невольно разбились о кафель все наши дни.<br>' +
						'Я бегу, потому что не в силах стоять на месте,<br>' +
						'Потому что забыл слово «я» и запомнил «вместе»,<br>' +
						'Потому что устал от вранья и от грубой лести...<br>' +
						'И от нашей любви, что когтями вцепилась в сны...<br>' +
						'Отпускаю тебя, убегая в закат навстречу<br>' +
						'Новой жизни, в которой я буду сильней и крепче...<br>' +
						'И наступит однажды ужасно тоскливый вечер,<br>' +
						'А я буду бежать, и я знаю, мне хватит сил<br>' +
						'Оставаться собой и пускай меня сносит ветер,<br>' +
						'Я такой же как был... посмотри, я за нас в ответе,<br>' +
						'Отдаю тебе ключ, пусть он сердце твое осветит<br>' +
						'В день, когда ты почувствуешь – я тебя разлюбил...',
				dots: true,
				author: 'Алина Семилетова',
				votes: '144',
			},
			{
				title: '«Три грани любви»',
				text: 'Преломляясь сквозь стену<br>' +
						'Любовной химеры,<br>' +
						'Инфракрасное – Как хрусталь, эфемерно.<br>' +
						'Разуме каплей на глянце<br>' +
						'Истекает сквозь время:<br>' +
						'В этой точке пространства<br>' +
						'Сингулярность – как бремя.<br>' +
						'Телом движет мгновенье<br>' +
						'Из фрактального клипа.<br>' +
						'В нем любовь – вдохновенье<br>' +
						'Для слепого Эдипа.',
				dots: true,
				author: 'Сергей Нерехчанин',
				votes: '144',
			},
			{
				title: '«Мы разбиваемся о небо»',
				text: 'Мы разбиваемся о небо,<br>' +
						'Взлететь пытаясь; вновь и вновь<br>' +
						'В процессе поиска ответов<br>' +
						'За швом накладываем шов –<br>' +
						'Но чем грубей, темнее нитки<br>' +
						'И гуще выпущенный пар,<br>' +
						'Тем глубже трепетнее книги<br>' +
						'И ближе под ногами шар...',
				dots: true,
				author: 'Анастасия Овсянникова',
				votes: '144',
			},
			{
				title: '«Только тихо...»',
				text: 'Проезжая на «хёнде солярис»<br>' +
						'Мимо Знаменки, в центре столицы,<br>' +
						'Ты так плох, что не в силах сдержаться –<br>' +
						'При таксисте расплакаться стыдно.<br>' +
						'Ветер стонет, сдувая прохожих<br>' +
						'Своим дерзким беспомощным криком.<br>' +
						'Не казалось таким безнадежным<br>' +
						'Настоящее. Плачь. Только тихо...<br>' +
						'В отражении зеркала меркнет<br>' +
						'Нежный образ в истлевшей вуали.<br>' +
						'Он как будто во сне, только ветер<br>' +
						'Обдувает волнистые пряди.',
				dots: true,
				author: 'Сергей Нерехчанин',
				votes: '144',
			},
			{
				title: '«Мы с Тобой рождены не для неба»',
				text: 'Мы с Тобой рождены не для неба –<br>' +
						'Нам милее родная земля,<br>' +
						'Где поэзией плуга и хлеба<br>' +
						'Колосистые дышат поля;<br>' +
						'Где у пыльной широкой дороги<br>' +
						'Машет синим венцом василек<br>' +
						'И в траве щиплет девичьи ноги<br>' +
						'Злой крапивы живой огонек;<br>' +
						'Где леса ворожат, а не ели<br>' +
						'Дремлет дух в колыбели ветвей...<br>' +
						'Разве может быть что-то милее,<br>' +
						'Чем просторы Отчизны твоей?',
				dots: true,
				author: 'Лилия Потийко',
				votes: '144',
			},
			{
				title: '«Я истину пою»',
				text: 'Я истину пою.<br>' +
						'Пожалуйста, пойми,<br>' +
						'Что лучшая в строю –<br>' +
						'Не лучшая в любви,<br>' +
						'Что лучшая в бою –<br>' +
						'Не лучшая в быту.<br>' +
						'Качаясь на краю,<br>' +
						'Шагая за черту,<br>' +
						'Ты выберешь ее –<br>' +
						'И выиграешь бой.<br>' +
						'Но после всех боев<br>' +
						'Останется собой<br>' +
						'Она, и можно не<br>' +
						'Стараться делать вид,<br>' +
						'Что стойкая в огне<br>' +
						'От нежности горит,<br>' +
						'Что мил ей тихий дом,<br>' +
						'Уютен старый сад.<br>' +
						'Она – с ее огнем<br>' +
						'Прошедшая сквозь ад<br>' +
						'По правую твою –<br>' +
						'Не дарит тишину.<br>' +
						'Проверенной в бою<br>' +
						'Не вырасти в жену.',
				dots: true,
				author: 'Полина Новикова',
				votes: '144',
			},
			{
				title: '«Полу - »',
				text: 'мне все с тобой как будто полумеры<br>' +
						'как надвое разбитые слова<br>' +
						'мы не решили, кто уходит первым<br>' +
						'единое не делится на два<br>' +
						'как ни старайся выпить меньше – все же<br>' +
						'стакан в итоге остается пуст<br>' +
						'мы, жизнь не успевая подытожить,<br>' +
						'молитвы повторяем наизусть<br>' +
						'нет времени на искреннее чувство<br>' +
						'фрагменты рассыпаются в руках<br>' +
						'подобно крыльям бабочки, искусство<br>' +
						'быть настоящим превратилось в прах<br>' +
						'но если хватит даже половины –<br>' +
						'я буду на объятия щедра<br>' +
						'пускай прощание не будет длинным<br>' +
						'пускай оно продлится до вчера<br>' +
						'еще глоток – и двойственное стало<br>' +
						'конечной точкой общего пути<br>' +
						'и одновременно его началом<br>' +
						'оставленным когда-то позади',
				dots: true,
				author: 'Инна Подзорова',
				votes: '144',
			},
			{
				title: '«Способность чувствовать»',
				text: 'Я не знаю уже, что съесть, что выпить,<br>' +
						'чтоб почувствовать снова себя собой:<br>' +
						'отыскать то место, где выпал винтик,<br>' +
						'и зализывать раны чужой слюной,<br>' +
						'научиться чувствовать так, как раньше,<br>' +
						'не нуждаясь в таблетках, чтоб быть в себе;<br>' +
						'«быть в себе» - не значит «быть настоящей»,<br>' +
						'значит – «не сдаваться в своей борьбе».<br>' +
						'Я сдалась давно и не жду поблажек,<br>' +
						'на просторах кухни ищу поесть,<br>' +
						'не пытаясь представить, что будет дальше,<br>' +
						'каждый день возвращаясь на свой насест.<br>' +
						'Забывая то, что считала важным.<br>' +
						'Ухожу от близких без лишних слов.<br>' +
						'Или, может, просто я стала старше,<br>' +
						'разучившись любить и дарить любовь?..',
				dots: true,
				author: 'Инна Подзорова',
				votes: '144',
			},
			{
				title: '«Ходят мимо люди-мимы»',
				text: 'Ходят мимо люди-мимы,<br>' +
						'Натянув улыбку грима,<br>' +
						'Чтоб потом неудержимо<br>' +
						'Плакать в тесном уголке.<br>' +
						'А меж тем бредет незримо<br>' +
						'Жизнь с котомкой пилигрима,<br>' +
						'И несутся кони-зимы:<br>' +
						'Едет смерть на облучке.<br>' +
						'Отцветают в срок тревоги,<br>' +
						'Колос падает на дроги,<br>' +
						'Полотно простой дороги<br>' +
						'Называют словом «путь».<br>' +
						'Может, с ветром быстроногим<br>' +
						'К берегам реки пологим<br>' +
						'Удается выйти многим<br>' +
						'И покоя зачерпнуть.',
				dots: true,
				author: 'Лилия Потийко',
				votes: '144',
			},
			{
				title: '«Воспоминание»',
				text: 'На улице веяло йодом и морем –<br>' +
						'Далекого детства мечта для обоих.<br>' +
						'О том, как хотелось с ней встретиться вскоре,<br>' +
						'Писал ей стихи на зеленых обоях.<br>' +
						'Он вырос – но как же все это не важно,<br>' +
						'Как будто нельзя отмотать жизнь к началу.<br>' +
						'Кораблик картонный, кораблик бумажный<br>' +
						'На школьном дворе торопился к причалу...<br>' +
						'А летняя ночь растревожила душу,<br>' +
						'Стирая границы приличий небрежно.<br>' +
						'На память набрал ее номер: «Послушай,<br>' +
						'Ты – первой весны моей робкая нежность».',
				dots: true,
				author: 'Павел Сафонов',
				votes: '144',
			},
			{
				title: '«Сохрани, если хочешь»',
				text: 'Сохрани, если хочешь, в альбоме<br>' +
						'Эти сумерки и фонари –<br>' +
						'Мне сегодня и нечего кроме<br>' +
						'Мокрых улиц тебе подарить.<br>' +
						'А в провинции сумрачней осень,<br>' +
						'Тяжелей ее пристальный взгляд...<br>' +
						'Извини, что я слишком серьезен –<br>' +
						'Я в несчастьях твоих виноват.<br>' +
						'Через время дойдут отголоски<br>' +
						'Этой правды, как стон или всхлип.<br>' +
						'Обними этот город неброский,<br>' +
						'Что известен цветением лип.<br>' +
						'Может, станет немного теплее<br>' +
						'В позабывшей про нежность груди...<br>' +
						'Мы идем по пустынной аллее,<br>' +
						'Но не спрашивай, что впереди.',
				dots: true,
				author: 'Александр Лошкарев',
				votes: '144',
			},
			{
				title: '«Я позабыла, что я Вас знала»',
				text: 'Я позабыла, что я Вас знала.<br>' +
						'Миг первой встречи навеки стерт:<br>' +
						'Когда я вышла из стен вокзала,<br>' +
						'Шел снег с дождем. Был ни бел, ни мертв.<br>' +
						'А март в тумане вспотевших окон<br>' +
						'Застыл печатью на дне зрачков.<br>' +
						'И, завернувшись в пальто, как в кокон,<br>' +
						'Скрывалась тщетно от сквозняков.<br>' +
						'Так волны шепчут косе песочной,<br>' +
						'Шум моря – эхо наивных фраз.<br>' +
						'И после разлуки я знала точно,<br>' +
						'Что через годы увижу Вас.<br>' +
						'Столкнутся взгляды, столкнутся души,<br>' +
						'Тепло живое проникнет вглубь.<br>' +
						'Но слов не будет. Чуть улыбнувшись<br>' +
						'Лишь уголками знакомых губ,<br>' +
						'Вы прочь уйдете, в толпе скрываясь.<br>' +
						'Пусть больше память не ворошат<br>' +
						'Ни снег с дождем, ни былая слабость.<br>' +
						'Я позабуду ваш тихий шаг.',
				dots: true,
				author: 'Ирина Мишутина',
				votes: '144',
			},
			{
				title: '«Не боюсь я быть забытой»',
				text: 'Не боюсь я быть забытой,<br>' +
						'Стать кому-то днем вчерашним,<br>' +
						'Растворенным в сером быте.<br>' +
						'Прошлым быть не так уж страшно.<br>' +
						'Не боюсь я стать презренной,<br>' +
						'Неугодной, нехорошей.<br>' +
						'Не беда, что на замену<br>' +
						'Мне найдут кого попроще.<br>' +
						'Или даже «посложнее».<br>' +
						'Невозможно быть всем милым.<br>' +
						'Хуже камнем быть на шее:<br>' +
						'Лишним, тяжким и постылым.<br>' +
						'Хуже знать: тебя любивший,<br>' +
						'Рядом чувствовавший трепет,<br>' +
						'Близок, но спокойно дышит.<br>' +
						'И не любит – просто терпит.<br>' +
						'Я боюсь войти в привычку...<br>' +
						'И уйду, сыскавши смелость.<br>' +
						'Глупо ждать и чиркать спичкой,<br>' +
						'Если пламя отгорело.',
				dots: true,
				author: 'Мария Семченко',
				votes: '144',
			},
			{
				title: '«Знаешь, солнце дает тень»',
				text: 'Знаешь, солнце дает<br>' +
						'тень.<br>' +
						'Зажигалкой зажги<br>' +
						'свет.<br>' +
						'Завтра будет другой<br>' +
						'день,<br>' +
						'Тот, в котором меня<br>' +
						'нет.<br>' +
						'Закрывая собой<br>' +
						'мир,<br>' +
						'Загребая рукой<br>' +
						'жар,<br>' +
						'Ускользнешь навсегда.<br>' +
						'впредь.<br>' +
						'Я не буду с тобой.<br>' +
						'жаль.<br>' +
						'Догорев не оставь<br>' +
						'след,<br>' +
						'Чтобы ни было что<br>' +
						'взять.<br>' +
						'Догорев разучись<br>' +
						'петь.<br>' +
						'Не вернуть ничего<br>' +
						'вспять.<br>' +
						'Но зато обустрой<br>' +
						'дом.<br>' +
						'Оградившись от всех<br>' +
						'бед.<br>' +
						'Отчего потускнел<br>' +
						'свет?<br>' +
						'Проглоти, проглоти<br>' +
						'ком.<br>' +
						'Выйдешь утром встречать<br>' +
						'день,<br>' +
						'А не встретив уйдешь<br>' +
						'прочь,<br>' +
						'В мир, в котором уже<br>' +
						'ночь.<br>' +
						'Мир, в котором и дня<br>' +
						'нет.',
				dots: true,
				author: 'Александр Стефанцов',
				votes: '144',
			},
			{
				//- class: '_tall',
				title: '«Если честно, я даже не знаю, что мне сказать»',
				text: 'Если честно, я даже не знаю, что мне сказать...<br>' +
						'Мне казалось, любовь – это быть постоянно рядом,<br>' +
						'Не обидеть другого ни слово, ни даже взглядом,<br>' +
						'И когда он ослаб, не стараться его распять...<br>' +
						'Мне казалось, любовь – это ждать с нетерпением дома,<br>' +
						'Наливать сладкий чай, чтобы после дождя согреться.<br>' +
						'Любоваться не телом, а сердцем... ты слышишь?<br>' +
						'Сердцем.<br>' +
						'И не знать, что однажды будет все по-другому...<br>' +
						'Мне казалось, любовь – это наши мечты о детях,<br>' +
						'Разговоры о том, что никто нас не победит!<br>' +
						'А сегодня я сам же любовью своей убит,<br>' +
						'Одиноко гуляя по нашей с тобой планете...<br>' +
						'И теперь, собирая остатки красивых грез,<br>' +
						'Я все понял, любовь – посвящать тебе эти песни,<br>' +
						'Улыбаться и верить в то, что мы будем вместе,<br>' +
						'Даже в утро, когда не останется больше слез.',
				dots: true,
				author: 'Алина Семилетова',
				votes: '144',
			},
			{
				title: '«Желтые «цветы»',
				text: 'О чем молчишь, все сбудется, поверь,<br>' +
						'А жизнь откроет новые границы.<br>' +
						'Когда вернусь, ты не забудь про дверь.<br>' +
						'Открой ее, и все опять случится.<br>' +
						'Быть может, будем мы уже не те,<br>' +
						'И время нас побьет и покалечит,<br>' +
						'Но только в нашей сказке и судьбе<br>' +
						'Оно не губит – просто долго лечит.<br>' +
						'Быть может, я когда-нибудь в ночи<br>' +
						'К тебе с цветами желтыми приду.<br>' +
						'Прости меня, сомненья отпусти.<br>' +
						'Я мир твой неразгаданный приму.',
				dots: true,
				author: 'Елизавета Зайцева',
				votes: '144',
			},
			{
				title: '«Если»',
				text: 'Если есть сердце – надо любить,<br>' +
						'Если есть мысли – нужно творить,<br>' +
						'Если есть руки – строить пора,<br>' +
						'Если в атаку, значит, «УРА».<br>' +
						'Если устанешь – ляг, отдохни,<br>' +
						'Если есть ночи – будут и дни.<br>' +
						'Если поверишь – вера спасет,<br>' +
						'Если заплатишь – сразу за все.<br>' +
						'Если есть книги, нужно читать,<br>' +
						'Если есть деньги, можно считать,<br>' +
						'Если есть солнце – будет и свет,<br>' +
						'Если спросил, жди, узнаешь ответ.<br>' +
						'Если есть песня – стоит пропеть,<br>' +
						'Если есть силы – надо терпеть,<br>' +
						'Если есть слово – лучше сказать,<br>' +
						'Если есть крылья – будешь летать.',
				dots: true,
				author: 'Фаина Ташманова',
				votes: '144',
			},
			{
				title: '«Я теперь совсем другая»',
				text: 'Я теперь совсем другая –<br>' +
						'Не зови меня.<br>' +
						'Для тебя я вновь чужая –<br>' +
						'Не ищи меня.<br>' +
						'Я теперь взрослее стала,<br>' +
						'Пусть на год, но все ж.<br>' +
						'От тебя я улетаю –<br>' +
						'Больше не вернешь.<br>' +
						'Буду я другому верной,<br>' +
						'Не смогу уйти,<br>' +
						'Стану вновь женой примерной,<br>' +
						'Ты меня прости.<br>' +
						'Может я любила даже<br>' +
						'Твой наивный взгляд,<br>' +
						'Для меня ты был так важен,<br>' +
						'Словно путь назад.<br>' +
						'Я прошла его достойно,<br>' +
						'Не роняя слез,<br>' +
						'И теперь я вновь спокойна<br>' +
						'В мире сладких грез.<br>' +
						'Каждый вечер у окошка<br>' +
						'Я сажусь одна,<br>' +
						'Для меня мурлычет кошка<br>' +
						'Песню «Без тебя».',
				dots: true,
				author: 'Светлана Писаренко',
				votes: '144',
			},
			{
				title: '«Покуда женщина любима»',
				text: 'Покуда женщина любима,<br>' +
						'Она и сердцем молода.<br>' +
						'И лишь без чувств необратимо<br>' +
						'Она стареет навсегда.<br>' +
						'В любви она всегда как осень,<br>' +
						'Сердечной жаждет красоты.<br>' +
						'Торжественно наряды сбросит,<br>' +
						'Не постеснявшись наготы.<br>' +
						'Покуда женщина желанна,<br>' +
						'Необходима и важна,<br>' +
						'Она с особенным талантом<br>' +
						'С тобой умеет быть нежна.<br>' +
						'Она красавица, богиня,<br>' +
						'Пока ее боготворят.<br>' +
						'Пока волос холодный иней<br>' +
						'Не скроет красочный наряд.<br>' +
						'И все в ней торжество и тайна,<br>' +
						'Огонь и пламя высших сил,<br>' +
						'Покуда кто-нибудь случайно<br>' +
						'Небрежно их не погасил.<br>' +
						'Легко, совсем не понимая,<br>' +
						'Что женщину уж не спасти,<br>' +
						'Что бессердечность убивает<br>' +
						'Все в мире на своем пути.',
				dots: true,
				author: 'Иван Щитов',
				votes: '144',
			},
			{
				title: '«Мелодия любви»',
				text: 'Мелодия любви. Начало с кварты.<br>' +
						'Сладчайший звук для сердца и ума.<br>' +
						'Когда бытует фальши кутерьма<br>' +
						'И диссонансы, будто бы чума,<br>' +
						'Съедают души, этот дивный дар ты<br>' +
						'Считаешь Божьим. Расправляешь крылья,<br>' +
						'Взлетаешь к солнцу, коль не слишком стар,<br>' +
						'И облака небесною ванилью<br>' +
						'Тебя зовут. Зовут тебя Икар.<br>' +
						'В секунде растворится кварта следом,<br>' +
						'Сжигая перья, заинтриговав.<br>' +
						'И этот сплав созвучий, дикий сплав<br>' +
						'Поработит твой неуемный нрав,<br>' +
						'Прельщая то ли ядом, то ли светом.<br>' +
						'Любовь есть Бог.<br>' +
						'Любовь – полет и сплин.<br>' +
						'Но есть подвох:<br>' +
						'Всем правит ДО-ФА-МИн.',
				dots: true,
				author: 'Екатерина Пешкова',
				votes: '144',
			},
			{
				title: '«Встреча с Тобой»',
				text: 'Когда, забыв про сердца стук,<br>' +
						'Остатки крови в жилах стыли,<br>' +
						'Ты появилась как-то вдруг<br>' +
						'Оазисом среди пустыни.<br>' +
						'Когда все шло совсем не так<br>' +
						'И парус порвал был от горя,<br>' +
						'ты появилась, как маяк,<br>' +
						'Не дав мне сгинуть в бездне моря.<br>' +
						'Когда сгущалась пустота<br>' +
						'Вокруг невидящего взора,<br>' +
						'Ты появилась, как звезда,<br>' +
						'Во тьме вселенского простора.<br>' +
						'Как избавление от бед,<br>' +
						'Мне был с небес ниспослан Богом<br>' +
						'Твоей улыбки чистый свет<br>' +
						'И озарил мою дорогу.',
				dots: true,
				author: 'Сергей Балабанов',
				votes: '144',
			},
			{
				title: '«В моих словах нет хитрости и фальши...»',
				text: 'В моих словах нет хитрости и фальши,<br>' +
						'И нет, быть может, искреннее слов:<br>' +
						'Мне хочется уйти с Тобой подальше<br>' +
						'От шумной суматохи городов.<br>' +
						'Туда, где звездный свет не будет скован<br>' +
						'Сиянием искусственных огней,<br>' +
						'Где мы откроем чувства по-другому,<br>' +
						'Друг другу станем ближе и родней.<br>' +
						'Я буду целовать Тебя при звездах,<br>' +
						'Вдали от взглядов и забот людских,<br>' +
						'И в этот миг поверим мы серьезно,<br>' +
						'Что целый мир теперь для нас двоих.<br>' +
						'Ты уходить оттуда не захочешь,<br>' +
						'Когда, в объятьях ласковых храня,<br>' +
						'Тебе сквозь тишину волшебной ночи<br>' +
						'Скажу всего два слова: «Ты моя!»',
				dots: true,
				author: 'Сергей Балабанов',
				votes: '144',
			},
			{
				title: '«Повезло на свете бабам!»',
				text: 'Отработав честно смену,<br>' +
						'От зари и до зари,<br>' +
						'Мчится баба, чтоб к обеду<br>' +
						'Ароматных щей сварить.<br>' +
						'Постирать, погладить надо,<br>' +
						'Натереть до блеска пол.<br>' +
						'Приукраситься. В халате<br>' +
						'Накрывать нельзя на стол!<br>' +
						'И потом весь вечер нежно<br>' +
						'Мужу глупости шептать,<br>' +
						'Восхваляя стиль одежды,<br>' +
						'И зарплату, и кровать.<br>' +
						'Солнце желтым цепким крабом<br>' +
						'Влезет в комнату к двоим.<br>' +
						'Повезло на свете бабам!<br>' +
						'Прям завидую я им!<br>' +
						'Ни минуты нет безделья:<br>' +
						'От звонка и до звонка.<br>' +
						'Некогда им тратить деньги,<br>' +
						'Время все возле станка<br>' +
						'На работе. Дом ж кухня,<br>' +
						'Коридоры, стеллажи.<br>' +
						'Жаль, принцесс порой так грубо<br>' +
						'В бабу превращает жизнь.',
				dots: true,
				author: 'Ольга Ваникевич',
				votes: '144',
			},
			{
				title: '«Однажды, пережив потери»',
				text: 'Однажды, пережив потери,<br>' +
						'Сто раз с небес скатившись вниз,<br>' +
						'Я отыщу родной мне берег,<br>' +
						'А вместе с ним – и жизни смысл.<br>' +
						'Закончу по миру скитаться,<br>' +
						'Как мотылек лететь на свет.<br>' +
						'Обдуманно решу остаться<br>' +
						'И встретить новый свой рассвет.<br>' +
						'Сердечко снова встрепенется,<br>' +
						'И я почувствую нутро:<br>' +
						'Вот в этом месте – заживется,<br>' +
						'Вот в этом месте будет дом.<br>' +
						'Гитара, книжки и картины,<br>' +
						'Постель и кружка на двоих,<br>' +
						'И ты, сидящий у камина,<br>' +
						'И я – в объятиях твоих.<br>' +
						'Не схожие друг с другом люди<br>' +
						'Одной мечты, души одной,<br>' +
						'И только треск дровишек будет<br>' +
						'Чуть слышно спорить с тишиной.<br>' +
						'Я верю: сказка станет былью.<br>' +
						'И, несмотря на круговерть,<br>' +
						'Я в рюкзаке припрячу крылья,<br>' +
						'Чтобы кода-то их надеть.',
				dots: true,
				author: 'Елена Горяйнова',
				votes: '144',
			},
			{
				title: '«Фантомная любовь к добру не приведет»',
				text: 'У каждого внутри есть кладбище людей,<br>' +
						'Которые ушли и отказались,<br>' +
						'От времени вдвоем и тех чудесных дней,<br>' +
						'Где вместе вы любовью наслаждались.<br>' +
						'Но лучше на корню все нити разрывать,<br>' +
						'Кремировать, развеивая пепел,<br>' +
						'Спокойной по ночам идти в свою кровать,<br>' +
						'С флешбэками не гнить в сердечном склепе.<br>' +
						'Фантомная любовь к добру не приведет,<br>' +
						'А только к психиатрам и уколам,<br>' +
						'К гадалкам не ходи, не делай приворот,<br>' +
						'Не стоит прибегать к различным фолам.<br>' +
						'Займись своей душой и обликом слегка,<br>' +
						'Не лезь назад в души своей Некрополь,<br>' +
						'Иначе просидишь ты в нем до сорока,<br>' +
						'Поставь замок на ржавые ворота.<br>' +
						'Без слез и навсегда закрой проход туда,<br>' +
						'Найди для счастья новое мерило.<br>' +
						'Чтоб больше ни за что и больше никогда<br>' +
						'Не рыться, как червяк, в сырых могилах.',
				dots: true,
				author: 'Виктория Ерух',
				votes: '144',
			},
			{
				title: '«В Туманном Альбионе судеб»',
				text: 'Как бабочка в стеклянной банке,<br>' +
						'Я бьюсь за право быть любимой.<br>' +
						'Пока играешь ты в молчанки,<br>' +
						'Ищу во мгле ориентиры.<br>' +
						'Однажды вырвусь я не волю<br>' +
						'И прилечу к тебе с приветом,<br>' +
						'Твой недоступный Южный полюс<br>' +
						'С моим соединится где-то.<br>' +
						'Возможно... Но не точно это.<br>' +
						'Сценарии в Небесном зале<br>' +
						'Писали Боги, а с рассветом<br>' +
						'В прокат блокбастер выпускали.<br>' +
						'История без хеппи-энда<br>' +
						'Одну меня не впечатлила.<br>' +
						'Не оценила киноленту,<br>' +
						'Хотя сюжет был очень милым.<br>' +
						'В Туманном Альбионе судеб<br>' +
						'Нашла тебя, была загвоздка:<br>' +
						'Не разглядел в моем сосуде<br>' +
						'Сердечной красоты и лоска.<br>' +
						'Ты видел внешность, мыслил узко,<br>' +
						'А глубоко внутри так ярко<br>' +
						'Сверкал алмаз открытой, русской<br>' +
						'Души, что стала бы подарком.',
				dots: true,
				author: 'Виктория Ерух',
				votes: '144',
			},
			{
				title: '«Я называл тебя чудесной»',
				text: 'Я называл тебя чудесной<br>' +
						'И обретал немало сил,<br>' +
						'Когда над грудой бессловесной<br>' +
						'Я это имя возносил.<br>' +
						'И не смиряясь ни с утратой,<br>' +
						'Ни с тем, что властно надо мной,<br>' +
						'Я называл тебя крылатой,<br>' +
						'Неуловимой, неземной.<br>' +
						'Я был любим, любим другими,<br>' +
						'Но столько раз в пожаре дня<br>' +
						'Слепой молитвой этой имя<br>' +
						'Меня спасало из огня.<br>' +
						'И не увял бы я от жажды,<br>' +
						'Когда б раздор пришел большой,<br>' +
						'Ведь я погиб уже однажды,<br>' +
						'Когда назвал тебя чужой.<br>' +
						'Я называл тебя красивой,<br>' +
						'Любил лица прямой овал,<br>' +
						'И даже, кажется, счастливой<br>' +
						'Тебя я часто называл.<br>' +
						'И в чистоте твоей нетленной<br>' +
						'Весь мир был ярче и живей.<br>' +
						'Я называл тебя Вселенной,<br>' +
						'А так хотел назвать своей...',
				dots: true,
				author: 'Наталья Жигунова',
				votes: '144',
			},
			{
				title: '«Прошлое»',
				text: 'Я сегодня живу рыжей осенью,<br>' +
						'Синим небом и запахом сырости,<br>' +
						'А забытое прошлое с проседью<br>' +
						'Надо мною стремится возвыситься.<br>' +
						'И руками холодными тянется,<br>' +
						'Прожигает глазами свинцовыми.<br>' +
						'- Знаешь, прошлое? Я ведь завязну так,<br>' +
						'Не хочу быть тобой окольцована!<br>' +
						'Я костер разведу, пламя жаркое,<br>' +
						'Разойдусь в дикой пляске прощания.<br>' +
						'Ты не знаешь, как, прошлое, жалко мне<br>' +
						'Рвать все узы с тобой, обещания!<br>' +
						'Я в холщовый мешок ссыплю пепел весь,<br>' +
						'Постараюсь забыть все, что было, но<br>' +
						'Было, прошлое, чудной песней ты,<br>' +
						'Просто слово «сейчас» полюбила я.',
				dots: true,
				author: 'Дарья Ипполитова',
				votes: '144',
			},
			{
				title: '«Женщина»',
				text: 'Ты с любовью ее не расстанешься,<br>' +
						'В теплых красках блаженного дня.<br>' +
						'Красотой неземной восхищаешься,<br>' +
						'В сердце верность святую храня.<br>' +
						'Ранним утром в лучах пробуждения,<br>' +
						'В сладкой неге цветущих садов,<br>' +
						'Она станет твоим вдохновением,<br>' +
						'Поцелуем горячих ветров.<br>' +
						'Ваши души, как реки безбрежные,<br>' +
						'Тонких линий изящный дуэт.<br>' +
						'Друг для друга вы самые нежные,<br>' +
						'Словно солнца чарующий свет.<br>' +
						'Отразится улыбка желанная<br>' +
						'В изумрудно-бездонных глазах.<br>' +
						'Будет рядом судьба долгожданная,<br>' +
						'С этих пор ты в надежных руках.<br>' +
						'Очарованный голосом бархатным,<br>' +
						'Дивным шелестом ласковых слов,<br>' +
						'Ты навеки счастливый беспамятно,<br>' +
						'Ее имя навеки – любовь.',
				dots: true,
				author: 'Ксения Максимова',
				votes: '144',
			},
			{
				title: '«Мы маялись на тесных боковых»',
				text: 'Мы маялись на тесных боковых,<br>' +
						'Разбросанные порознь по вагону,<br>' +
						'Под детский не кончающийся гомон.<br>' +
						'«И не было счастливее двоих», –<br>' +
						'Так думал я в короткие часы,<br>' +
						'Когда мы у окна объединялись<br>' +
						'И у тебя в глазах отображались<br>' +
						'Пейзажи среднерусской полосы.',
				dots: true,
				author: 'Максим Ковалев',
				votes: '144',
			},
			{
				title: '«Первый снег»',
				text: 'Не я твой прерванный полет,<br>' +
						'не я смешала сон и явь,<br>' +
						'от кости кость, от плоти плоть<br>' +
						'не я тебе, не я, не я.<br>' +
						'Пускай тебя не ослепит<br>' +
						'моих признаний первый снег.<br>' +
						'Не верь, не бойся, не люби<br>' +
						'и многое другое – не.',
				dots: true,
				author: 'Аля Карелина',
				votes: '144',
			},
			{
				title: '«Endless»',
				text: 'Пусть мы не рядом, но<br>' +
						'Мысленно ты со мной.<br>' +
						'Нашей любви кино<br>' +
						'Кончится... никогда.<br>' +
						'Чувства в слова облечь<br>' +
						'Сложно, но мыслей рой<br>' +
						'Перетекает в речь.<br>' +
						'Скорые поезда,<br>' +
						'Встречи на полчаса,<br>' +
						'Снова вокзал, перрон,<br>' +
						'Полные слез глаза,<br>' +
						'Медленный поцелуй.<br>' +
						'Я без тебя не в счет.<br>' +
						'Полупустой вагон.<br>' +
						'Скоро письмо придет –<br>' +
						'Танцуй.<br>' +
						'Пусть мы не рядом, но<br>' +
						'Мысленно я с тобой.<br>' +
						'Кости от домино –<br>' +
						'Кто-то нас разбросал.<br>' +
						'Мне без тебя никак.<br>' +
						'Это и есть любовь.<br>' +
						'В комнате полумрак.<br>' +
						'Словно девятый вал,<br>' +
						'Чувства накроют вдруг.<br>' +
						'Я – это ты, ты – я.<br>' +
						'Вот и замкнулся круг.<br>' +
						'Руку держать в руке<br>' +
						'И через много лет<br>' +
						'Буду, тепло храня.<br>' +
						'Клином сошелся свет<br>' +
						'На тебе.',
				dots: true,
				author: 'Маргарита Медведева',
				votes: '144',
			},
			{
				title: '«В холодной комнате одна...»',
				text: 'В холодной комнате одна<br>' +
						'Средь захламленного уюта.<br>' +
						'Здесь достигают абсолюта<br>' +
						'И благодать, и тишина.<br>' +
						'Здесь мой безумный прошлый день<br>' +
						'Вдруг стал смешным, неоднозначным,<br>' +
						'И пеленой полупрозрачной<br>' +
						'На рой забот спустилась тень...<br>' +
						'Меня не мучает, не гложет<br>' +
						'Сонм исступленных, жгучих дум,<br>' +
						'И пусть мой мир слегка угрюм,<br>' +
						'Меня сей факт не потревожит.<br>' +
						'Я не боюсь, как в прежний час,<br>' +
						'Своих тревог, унылых, диких<br>' +
						'Коль в туче образов безликих<br>' +
						'Я снова натолкнусь на Вас,<br>' +
						'Я тут же вспомню старый парк<br>' +
						'И целомудренные ели.<br>' +
						'Скажите, милый, в самом деле<br>' +
						'Был так взволнован полумрак»?<br>' +
						'Я отыщу там ту скамью, <br>' +
						'Где в ночь со вторника на среду<br>' +
						'Мы откровенную беседу<br>' +
						'Свели в абсурдную ничью...<br>' +
						'Могла ли я быть влюблена?<br>' +
						'Могло ли быть, что я любила?<br>' +
						'Не рассказала, не открыла<br>' +
						'Мне этой тайны тишина...<br>' +
						'Но если б я забыть могла<br>' +
						'Все то, что не было и было,<br>' +
						'Я ничего б не изменила,<br>' +
						'Я Вам бы руку отдала...',
				dots: true,
				author: 'Мария Следевская',
				votes: '144',
			},
			{
				title: '«Знакомый взгляд»',
				text: 'Знакомый взгляд.<br>' +
						'Расправленные плечи.<br>' +
						'Зачем ты здесь?<br>' +
						'И где ты был вчера?<br>' +
						'И кто сказал:<br>' +
						'«Поверьте, время лечит»?<br>' +
						'Легенда эта,<br>' +
						'Как и мир, стара!<br>' +
						'Знакомый взгляд.<br>' +
						'Себе твердишь – не важно.<br>' +
						'На гриф души<br>' +
						'Натянута струна –<br>' +
						'Из сотен дней,<br>' +
						'Из мыслей, где отважно<br>' +
						'Я утверждала:<br>' +
						'Нет, не влюблена.<br>' +
						'Знакомый взгляд.<br>' +
						'И никуда не скрыться,<br>' +
						'Не затеряться<br>' +
						'Среди лиц в толпе.<br>' +
						'И как бы мне суметь,<br>' +
						'Как научиться,<br>' +
						'Не веря всем,<br>' +
						'Довериться тебе..',
				dots: true,
				author: 'Юлия Самохина',
				votes: '144',
			},
			{
				title: '«О мой развенчанный король!»',
				text: 'О мой развенчанный король!<br>' +
						'Я вспоминаю Вас украдкой,<br>' +
						'Как взяли душу мертвой хваткой,<br>' +
						'О, что за драма, что за боль!..<br>' +
						'Мой милый дьявол во плоти!<br>' +
						'Дано ль простому индивиду,<br>' +
						'Не примечательному с виду,<br>' +
						'Скрыть целый ад в своей груди?<br>' +
						'Теперь Вас нет и в смутном сне,<br>' +
						'И все так глупо, так наивно,<br>' +
						'Но как же я была невинна<br>' +
						'И как любить хотелось мне!<br>' +
						'И вдруг Ваш призрак предо мной...<br>' +
						'В чужих глазах все та ж насмешка,<br>' +
						'Та ж неприметность вперемешку<br>' +
						'С какой-то тайной глубиной.<br>' +
						'И эта пропасть и страшит,<br>' +
						'И рассмеяться заставляет,<br>' +
						'Как странно жизнь шутить желает;<br>' +
						'И привлекает, как магнит.<br>' +
						'Но не делить мне с Вами смех,<br>' +
						'И Вашей бездны мне не надо:<br>' +
						'Мне и без Вас довольно ада,<br>' +
						'Мне и без Вас знаком уж грех...',
				dots: true,
				author: 'Мария Следевская',
				votes: '144',
			},
			{
				title: '«Мой страшный сон...»',
				text: 'Мой страшный сон, в котором нет тебя,<br>' +
						'Где след остыл непонятой строкою.<br>' +
						'Кружатся тени, душу теребя,<br>' +
						'И увлекают тело за собою.<br>' +
						'Без разрешения идти, за шагом – шаг,<br>' +
						'За словом – недоверчивое слово.<br>' +
						'И все не доберемся мы никак<br>' +
						'До смелости поступка рокового.<br>' +
						'И утро открывает новый путь<br>' +
						'И обещает счастье по приезде,<br>' +
						'Но снова мы пытаемся уснуть,<br>' +
						'Ведь по-другому не остаться вместе.',
				dots: true,
				author: 'Екатерина Ступникова',
				votes: '144',
			},
			{
				title: '«Снова руки твои обо мне и о нас»',
				text: 'Снова руки твои обо мне и о нас,<br>' +
						'И глаза непристойно раздеты.<br>' +
						'Я с тобой – в безоглядное это «сейчас».<br>' +
						'В ароматную поросль лета.<br>' +
						'И не важно, о чем спорят наши слова,<br>' +
						'И что было когда-то и будет,<br>' +
						'Нет вокруг никого, только ночь да трава.<br>' +
						'Нас никто никогда не осудит.<br>' +
						'Как в последнем мгновении жизни своей<br>' +
						'Обнимаем холодные плечи,<br>' +
						'И становится будто немножко теплей,<br>' +
						'И как будто становится легче.',
				dots: true,
				author: 'Екатерина Ступникова',
				votes: '144',
			},
			{
				title: '«Смущение тебе к лицу...»',
				text: 'Смущение тебе к лицу – милее стала...<br>' +
						'Разлило небо синеву – земля воспряла!<br>' +
						'Но переменчивы ветра – твои сомненья,<br>' +
						'Ты научи любить меня – до исступленья!<br>' +
						'Разумностью своей полна – невозмутима,<br>' +
						'А в косу нежность вплетена - так уязвима...<br>' +
						'Раскрыв объятия свои – уняв сомненья,<br>' +
						'Со мною пламенно гори – до исступленья!',
				dots: true,
				author: 'Екатерина Мертынс',
				votes: '144',
			},
			{
				title: '«Вы женаты?»',
				text: '«Вы женаты?» - «На Родине – да,<br>' +
						'Я в деревни влюблен, в города,<br>' +
						'Улиц липецких шум городской<br>' +
						'Не смешать с петербургской тоской.<br>' +
						'Степь, что сопками размежена,<br>' +
						'Смотрит ласково, словно жена,<br>' +
						'К свету фар вьются сов патрули<br>' +
						'И село исчезает вдали.<br>' +
						'Смех детей и укор стариков,<br>' +
						'Что ведет на границу веков,<br>' +
						'Где по полю вольна, весела<br>' +
						'Песнь казачья когда-то плыла...»',
				dots: true,
				author: 'Павел Сафонов',
				votes: '144',
			},
			{
				title: '«Возглас утопи в цветах»',
				text: 'Возглас утопи в цветах,<br>' +
						'Милый друг,<br>' +
						'На тебя глядит с моста<br>' +
						'Петербург.<br>' +
						'Волос длинный на ковре<br>' +
						'Колесом.<br>' +
						'Гулким смехом в декабре<br>' +
						'Мятый сон.<br>' +
						'Мятный запах, чай спитой.<br>' +
						'Колея.<br>' +
						'Чужеродное «не то».<br>' +
						'Не моя...',
				dots: true,
				author: 'Павел Сафонов',
				votes: '144',
			},
			{
				title: '«Сердце предчувствует...»',
				text: 'Сердце предчувствует что-то хорошее,<br>' +
						'Сладко во мне содрогаются струны.<br>' +
						'Верно, не зря мной отпущено прошлое:<br>' +
						'Как я легка в моем новом июне!<br>' +
						'Лето мне шепчет: «Любить и уверовать!»<br>' +
						'Я из карманов души вынимаю<br>' +
						'Памяти камни тяжелые серые.<br>' +
						'И, обернувшись, бросаю их в мае.<br>' +
						'Я иду дальше. Шаг легок без ноши, и<br>' +
						'Пусть даже лета виной атмосфера,<br>' +
						'Сердце предчувствует что-то хорошее.<br>' +
						'Сердце предчувствует. Я ему верю.',
				dots: true,
				author: 'Мария Семченко',
				votes: '144',
			},
			{
				title: '«Никуда от тебя не деться»',
				text: 'Никуда от тебя не деться,<br>' +
						'Ты – экстракт всех стихийных бедствий,<br>' +
						'И, пока не затихнет сердце,<br>' +
						'Я, наверное, буду биться.<br>' +
						'Неминуемо буду гнаться,<br>' +
						'Через память мелькают лица,<br>' +
						'Пробираются дни, сквозь пальцы,<br>' +
						'Заполняя мои страницы.<br>' +
						'Что в груди – начинает греться,<br>' +
						'И решительно вырываться.',
				dots: true,
				author: 'Александр Стефанцов',
				votes: '144',
			},
			{
				title: '«Не избежать друг друга, нет»',
				text: 'Не избежать друг друга, нет,<br>' +
						'Отгородившись городами.<br>' +
						'Ночь – расстоянье между нами –<br>' +
						'Короче пачки сигарет.<br>' +
						'Без счета кануло сердец<br>' +
						'В ее колодезном молчанье.<br>' +
						'Но я пока еще в начале<br>' +
						'Пути во тьму – в один конец.',
				dots: true,
				author: 'Александр Лошкарев',
				votes: '144',
			},
			{
				title: '«Когда весна склонит седую голову...»',
				text: 'Когда весна склонит седую голову<br>' +
						'к твоим ногам,<br>' +
						'давай сбежим от горя и от города,<br>' +
						'где шум и гам.<br>' +
						'Где адреса забыты и затеряны<br>' +
						'в полночной мгле,<br>' +
						'где были мы – среди чужой истерики<br>' +
						'в том феврале,<br>' +
						'который бы и не был одновременно,<br>' +
						'но если был – еще не все, наверное, потеряно,<br>' +
						'ведь я любил.<br>' +
						'И ты любила горестно... И пристально<br>' +
						'смотрела вдаль<br>' +
						'моя недоказуемая истина,<br>' +
						'моя печаль.',
				dots: true,
				author: 'Александр Лошкарев',
				votes: '144',
			},
			{
				title: '«Лето солнцем рассветным взошло»',
				text: 'Лето солнцем рассветным взошло,<br>' +
						'В шепот зелени город одело.<br>' +
						'Разлило по просторам тепло,<br>' +
						'На цветок яркой бабочкой село.<br>' +
						'Распустилось пионом в саду,<br>' +
						'Заиграло журчаньем фонтана.<br>' +
						'Земляникой запахло в лесу,<br>' +
						'Залечило душевные раны.<br>' +
						'Лето, солнца пленительный рай,<br>' +
						'Как нежны твои теплые руки!<br>' +
						'Ты из них меня не выпускай<br>' +
						'Впредь, до грустной осенней разлуки.',
				dots: true,
				author: 'Юлия Агейкина',
				votes: '144',
			},
			{
				title: '«Осень»',
				text: 'Осень! Больше листьев! Мало!<br>' +
						'Хочется под листопад!<br>' +
						'И природы покрывало<br>' +
						'Закружилось невпопад!',
				dots: true,
				author: 'Елизавета Зайцева',
				votes: '144',
			},
			{
				class: '_tall',
				title: '«Окно закроется от ветра»',
				text: 'Окно закроется от ветра –<br>' +
						'Я замолчу.<br>' +
						'И в знаках не ища ответа,<br>' +
						'Зажгу свечу.<br>' +
						'И будет дом, видений полный,<br>' +
						'Шептать слепой,<br>' +
						'Дождем молитвенным иконе<br>' +
						'О нас с тобой.<br>' +
						'О наших нерожденных детях<br>' +
						'Еще пока,<br>' +
						'Заканой Волге и рассветной,<br>' +
						'И в облаках,<br>' +
						'Которые в Твери иные,<br>' +
						'Чем на Дону.<br>' +
						'И, заповеданное ими,<br>' +
						'Я помяну<br>' +
						'Твое спасающее имя<br>' +
						'Меня в ночи.<br>' +
						'И все теперь – неповторимо.<br>' +
						'И все – молчит.',
				dots: true,
				author: 'Павел Пономарев',
				votes: '144',
			},
			{
				title: '«Неправдою друг друга опоили»',
				text: 'Неправдою друг друга опоили,<br>' +
						'Не ведали, как ноша непроста.<br>' +
						'И счастья перед господом просили,<br>' +
						'Целуя нежно лживые уста!<br>' +
						'Да, милый мой, нас юность повенчала<br>' +
						'И горькою полынью отцвела.<br>' +
						'Могла бы медом быть, да ядом стала<br>' +
						'Та молодость, которая прошла...',
				dots: true,
				author: 'Екатерина Мертынс',
				votes: '144',
			},
			{
				title: '«Танец»',
				text: 'Небрежно касается слуха мелодия<br>' +
						'И что-то цепляет в душе.<br>' +
						'Хоть, кажется, слишком взрослая вроде бы<br>' +
						'И не солидно уже...<br>' +
						'Но как от минут отказаться блаженных,<br>' +
						'Когда ты здесь и сейчас<br>' +
						'И можешь сказать десятком движений<br>' +
						'Больше, чем сотней фраз?!<br>' +
						'И вдруг получается слышать тело,<br>' +
						'На время забыв про быт;<br>' +
						'Как страстно оно на свободу хотело,<br>' +
						'А путь туда был закрыт...<br>' +
						'И сколько сердце скопило эмоций,<br>' +
						'Выраженных не так,<br>' +
						'И как теперь оно бешено бьется<br>' +
						'Этой музыке в такт!<br>' +
						'А впрочем, долой возрастные пределы,<br>' +
						'Покуда можешь дышать,<br>' +
						'Ведь это танцует не только тело,<br>' +
						'Это танцует душа...',
				dots: true,
				author: 'Алина Гриценко',
				votes: '144',
			},
			{
				title: '«Все хорошо»',
				text: 'Все хорошо.<br>' +
						'Делю с тобой, как прежде,<br>' +
						'Одну планету, город, свет луны.<br>' +
						'Все хорошо.<br>' +
						'Ищу покой в надежде,<br>' +
						'По ветру отпустив свои челны.<br>' +
						'Нет, я не вру и даже не скрываю,<br>' +
						'Что между делом строю в облаках<br>' +
						'Наш общий замок.<br>' +
						'Пусть абсурдно, знаю:<br>' +
						'Душа замерзла жить на сквозняках.<br>' +
						'Ей нужен дом – приют любви и света.<br>' +
						'Ей хочется быть нужной и родной.<br>' +
						'Но будни наши – мелкая монета,<br>' +
						'Которой не расплатишься с судьбой.<br>' +
						'Не обменять нам суету на встречу,<br>' +
						'Наверно, просто время не пришло.<br>' +
						'И может быть, однажды я замечу,<br>' +
						'Что все у нас с тобою хорошо.',
				dots: true,
				author: 'Юлия Самохина',
				votes: '144',
			},
			{
				title: '«Обновление»',
				text: 'Вновь весна. Подобно чуду<br>' +
						'Вновь весна. Подобно чуду<br>' +
						'Тает серый, грязный снег.<br>' +
						'Обновляется повсюду<br>' +
						'Цвет лесов, полей и рек.<br>' +
						'Золотыми лепестками<br>' +
						'Блещут купола церквей,<br>' +
						'Веет Пасхой, куличами.<br>' +
						'Отвори окно скорей!<br>' +
						'Наряжаются деревья,<br>' +
						'Вновь листочки распушив,<br>' +
						'И с весной приходит время<br>' +
						'Обновления души.<br>' +
						'Даже в самом темном сердце<br>' +
						'Пробуждаются мечты.<br>' +
						'Где-то в нем, в укромном месте,<br>' +
						'Распускаются цветы.',
				dots: true,
				author: 'Анастасия Фоминых',
				votes: '144',
			},
			{
				title: '«наугад, смешно, непрочно»',
				text: 'наугад, смешно, непрочно<br>' +
						'наугад, смешно, непрочно<br>' +
						'жизнь идет – и ладно,<br>' +
						'дышит ветром водосточным,<br>' +
						'темно-виноградным,<br>' +
						'и глядит за горизонты,<br>' +
						'странно замирая.<br>' +
						'словно чудится ей контур<br>' +
						'будущего рая.',
				dots: true,
				author: 'Ксения Аксенова',
				votes: '144',
			},
		]

block content
	+router(pageName)
		include @components/header/header

		+b.competition
			+e.container
				+e.col--left
					+e.pictures
						each _, i in Array(19)
							+e.picture.js-competition-picture(class!= i === 0 ? '_show' : undefined)
								img(src=`${baseDir}assets/images/competition/${i + 1}.jpg` alt="")
				+e.col--right
					+e.title Конкурс стихов<br>&nbsp;молодых поэтов
					a(href="https://aif.ru/culture/art/vsyo_nachinaetsya_s_lyubvi_aif_zapuskaet_konkurs_stihov" target="_blank")
						+b.BUTTON.application(type="button")
							+e.text Отправить заявку на конкурс
					+e.list
						each item, i in competitions
							+b.competition-item(class!= item.class ? item.class : undefined data-id= i + 1)
								+e.inner
									+e.title!= item.title
									+e.text!= item.text
									if (item.dots)
										+e.dots
											+svg('dots')
									+e.footer
										if (item.author)
											+e.author!= item.author
										+e.sharing
											+b.sharing
												+sharing('', `/share.php?page=result${i+1}`)
											+b.BUTTON.vote(type="button")
												+e.text Проголосовать |
												+e.counter!= item.votes

		+b.FOOTER.footer
			+e.partners.partners__
				+e.A.link--aif(href="https://aif.ru" target="_blank")
					+svg('aif')
				+e.A.link--pfki(href="https://xn--80aeeqaabljrdbg6a3ahhcl4ay9hsa.xn--p1ai/" target="_blank")
					+svg('pfki')
				+e.A.link--poetry-house(href="http://www.dompoezii-tver.ru/" target="_blank")
					+svg('poetry-house')
			+e.sharing
				+sharing
			+e.rules.rules__ © 2023. Аргументы и Факты все права защищены.
