extends @pug/base

append globals
	- pageName = 'poem'
	- title = '«Я иногда спохватываюсь вдруг…»'
	- description = 'Я иногда спохватываюсь вдруг: Уходят годы — Сделано так мало'
	- image = `${data.general.baseDir}assets/images/poem/70.jpg`

append vars

block content
	+router(pageName)
		include @components/header/header
		+poem(data1.poem70)
