extends @pug/base

append globals
	- pageName = 'poem'
	- title = '«Я — русский.»'
	- description = 'Я из той породы, Чья кровь смешалась с небом и травой.'
	- image = `${data.general.baseDir}assets/images/poem/44.jpg`

append vars

block content
	+router(pageName)
		include @components/header/header
		+poem(data1.poem44)
