extends @pug/base

append globals
	- pageName = 'poem'
	- title = '«Моим читателям»'
	- description = 'Много лет миновало с детства, Когда я понял, что мне с людьми'
	- image = `${data.general.baseDir}assets/images/poem/3.jpg`

append vars

block content
	+router(pageName)
		include @components/header/header
		+poem(data1.poem3)
