extends @pug/base

append globals
	- pageName = 'poem'
	- title = '«Когда себя от дружбы отлучаем…»'
	- description = 'Когда себя от дружбы отлучаем. Мы угасаем сердцем и умом.'
	- image = `${data.general.baseDir}assets/images/poem/33.jpg`

append vars

block content
	+router(pageName)
		include @components/header/header
		+poem(data1.poem33)
