extends @pug/base

append globals
	- pageName = 'poem'
	- title = '«Никогда ни о чем не жалейте…»'
	- description = 'Никогда ни о чем не жалейте вдогонку, Если то, что случилось, нельзя изменить.'
	- image = `${data.general.baseDir}assets/images/poem/67.jpg`

append vars

block content
	+router(pageName)
		include @components/header/header
		+poem(data1.poem67)
