extends @pug/base

append globals
	- pageName = 'poem'
	- title = '«Я знаю, что все женщины прекрасны…»'
	- description = 'Я знаю, что все женщины прекрасны. И красотой своею, и умом.'
	- image = `${data.general.baseDir}assets/images/poem/42.jpg`

append vars

block content
	+router(pageName)
		include @components/header/header
		+poem(data1.poem42)
