extends @pug/base

append globals
	- pageName = 'poem'
	- title = '«Я люблю мотаться по России»'
	- description = 'Я люблю мотаться по России В поездах, в авто или пешком,'
	- image = `${data.general.baseDir}assets/images/poem/5.jpg`

append vars

block content
	+router(pageName)
		include @components/header/header
		+poem(data1.poem5)
