extends @pug/base

append globals
	- pageName = 'poem'
	- title = '«Сумерки»'
	- description = 'Давай помолчим. Мы так долго не виделись.'
	- image = `${data.general.baseDir}assets/images/poem/73.jpg`

append vars

block content
	+router(pageName)
		include @components/header/header
		+poem(data1.poem73)
