extends @pug/base

append globals
	- pageName = 'poem'
	- title = '«Анна, 1998 г.»'
	- description = 'Прости, что я в тебя влюблен Уже под занавес, в финал…'
	- image = `${data.general.baseDir}assets/images/poem/11.jpg`

append vars

block content
	+router(pageName)
		include @components/header/header
		+poem(data1.poem11)
