+e.A.main-images(href=`${baseDir}biography/biography-1928-1941/`)
	+e.main-image--first
		+picture({
			path: `${baseDir}assets/images/biography/andrey-dementiev`,
			ext: "png",
			onlyDesktop: false,
			retina: true,
			mobile: true,
		})
	+e.main-image--second
		+picture({
			path: `${baseDir}assets/images/biography/main-image`,
			ext: "jpg",
			onlyDesktop: false,
			retina: true,
			mobile: true,
		})
	+e.circle
		+b.circle
			+e.title Андрей Дементьев
			+e.subtitle проект посвящен 95-летию со дня рождения выдающегося поэта Андрея Дементьева
			+e.arrow
				+svg('arrow-right')
